/*
Portal API 2.0

2.2.10

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package itportalapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
	"reflect"
	"strings"
)

// ContactsAPIService ContactsAPI service
type ContactsAPIService service

type ApiCreateContactRequest struct {
	ctx           context.Context
	ApiService    *ContactsAPIService
	contact       *Contact
	authorization *string
}

// Contact that needs to be added to the portal
func (r ApiCreateContactRequest) Contact(contact Contact) ApiCreateContactRequest {
	r.contact = &contact
	return r
}

func (r ApiCreateContactRequest) Authorization(authorization string) ApiCreateContactRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCreateContactRequest) Execute() (*http.Response, error) {
	return r.ApiService.CreateContactExecute(r)
}

/*
CreateContact Adds a new contact to the portal

New contact will be added to the portal

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateContactRequest
*/
func (a *ContactsAPIService) CreateContact(ctx context.Context) ApiCreateContactRequest {
	return ApiCreateContactRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ContactsAPIService) CreateContactExecute(r ApiCreateContactRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContactsAPIService.CreateContact")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/contacts/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.contact == nil {
		return nil, reportError("contact is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.contact
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteContactByIdRequest struct {
	ctx           context.Context
	ApiService    *ContactsAPIService
	contactId     int64
	authorization *string
}

func (r ApiDeleteContactByIdRequest) Authorization(authorization string) ApiDeleteContactByIdRequest {
	r.authorization = &authorization
	return r
}

func (r ApiDeleteContactByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteContactByIdExecute(r)
}

/*
DeleteContactById Deletes a contact

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param contactId A single contact id.
	@return ApiDeleteContactByIdRequest
*/
func (a *ContactsAPIService) DeleteContactById(ctx context.Context, contactId int64) ApiDeleteContactByIdRequest {
	return ApiDeleteContactByIdRequest{
		ApiService: a,
		ctx:        ctx,
		contactId:  contactId,
	}
}

// Execute executes the request
func (a *ContactsAPIService) DeleteContactByIdExecute(r ApiDeleteContactByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContactsAPIService.DeleteContactById")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/contacts/{contactId}/"
	localVarPath = strings.Replace(localVarPath, "{"+"contactId"+"}", url.PathEscape(parameterValueToString(r.contactId, "contactId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetContactByIdRequest struct {
	ctx           context.Context
	ApiService    *ContactsAPIService
	contactId     int64
	authorization *string
}

func (r ApiGetContactByIdRequest) Authorization(authorization string) ApiGetContactByIdRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetContactByIdRequest) Execute() (*ContactDataWrapper, *http.Response, error) {
	return r.ApiService.GetContactByIdExecute(r)
}

/*
GetContactById Fetches a single contact by id

This method fetches a single contact resource. It is the canonical URI for any contact resource provided by the API.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param contactId A single contact id.
	@return ApiGetContactByIdRequest
*/
func (a *ContactsAPIService) GetContactById(ctx context.Context, contactId int64) ApiGetContactByIdRequest {
	return ApiGetContactByIdRequest{
		ApiService: a,
		ctx:        ctx,
		contactId:  contactId,
	}
}

// Execute executes the request
//
//	@return ContactDataWrapper
func (a *ContactsAPIService) GetContactByIdExecute(r ApiGetContactByIdRequest) (*ContactDataWrapper, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ContactDataWrapper
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContactsAPIService.GetContactById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/contacts/{contactId}/"
	localVarPath = strings.Replace(localVarPath, "{"+"contactId"+"}", url.PathEscape(parameterValueToString(r.contactId, "contactId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetContactsRequest struct {
	ctx                 context.Context
	ApiService          *ContactsAPIService
	authorization       *string
	name                *string
	firstName           *string
	firstNameStartsWith *string
	lastName            *string
	lastNameStartsWith  *string
	typeName            *string
	description         *string
	companyId           *string
	company             *string
	site                *string
	siteId              *string
	email               *string
	directNumber        *string
	extension           *string
	homePhone           *string
	mobile              *string
	smsEmailAddress     *string
	webSite             *string
	address1            *string
	address2            *string
	city                *string
	state               *string
	zip                 *string
	inOut               *bool
	deleted             *bool
	modifiedSince       *string
	foreignId           *string
	foreignType         *[]string
	orderBy             *[]string
	limit               *int32
	offset              *int32
	keyValue            *string
}

func (r ApiGetContactsRequest) Authorization(authorization string) ApiGetContactsRequest {
	r.authorization = &authorization
	return r
}

// Return only items matching the specified full contact name.
func (r ApiGetContactsRequest) Name(name string) ApiGetContactsRequest {
	r.name = &name
	return r
}

// Return only items matching the specified first name.
func (r ApiGetContactsRequest) FirstName(firstName string) ApiGetContactsRequest {
	r.firstName = &firstName
	return r
}

// Return items with first names that begin with the specified string.
func (r ApiGetContactsRequest) FirstNameStartsWith(firstNameStartsWith string) ApiGetContactsRequest {
	r.firstNameStartsWith = &firstNameStartsWith
	return r
}

// Return only items matching the specified last name.
func (r ApiGetContactsRequest) LastName(lastName string) ApiGetContactsRequest {
	r.lastName = &lastName
	return r
}

// Return items with last names that begin with the specified string.
func (r ApiGetContactsRequest) LastNameStartsWith(lastNameStartsWith string) ApiGetContactsRequest {
	r.lastNameStartsWith = &lastNameStartsWith
	return r
}

// Return only items matching the specified type.
func (r ApiGetContactsRequest) TypeName(typeName string) ApiGetContactsRequest {
	r.typeName = &typeName
	return r
}

// Return only items containing the specified description.
func (r ApiGetContactsRequest) Description(description string) ApiGetContactsRequest {
	r.description = &description
	return r
}

// Return only items matching the specified company id.
func (r ApiGetContactsRequest) CompanyId(companyId string) ApiGetContactsRequest {
	r.companyId = &companyId
	return r
}

// Return only items matching the specified company name.
func (r ApiGetContactsRequest) Company(company string) ApiGetContactsRequest {
	r.company = &company
	return r
}

// Return only items matching the specified site.
func (r ApiGetContactsRequest) Site(site string) ApiGetContactsRequest {
	r.site = &site
	return r
}

// Return only items matching the specified site id.
func (r ApiGetContactsRequest) SiteId(siteId string) ApiGetContactsRequest {
	r.siteId = &siteId
	return r
}

// Return only items matching specified email address.
func (r ApiGetContactsRequest) Email(email string) ApiGetContactsRequest {
	r.email = &email
	return r
}

// Return only items matching specified direct number.
func (r ApiGetContactsRequest) DirectNumber(directNumber string) ApiGetContactsRequest {
	r.directNumber = &directNumber
	return r
}

// Return only items matching specified extension.
func (r ApiGetContactsRequest) Extension(extension string) ApiGetContactsRequest {
	r.extension = &extension
	return r
}

// Return only items matching specified home phone.
func (r ApiGetContactsRequest) HomePhone(homePhone string) ApiGetContactsRequest {
	r.homePhone = &homePhone
	return r
}

// Return only items matching specified mobile.
func (r ApiGetContactsRequest) Mobile(mobile string) ApiGetContactsRequest {
	r.mobile = &mobile
	return r
}

// Return only items matching specified SMS email address.
func (r ApiGetContactsRequest) SmsEmailAddress(smsEmailAddress string) ApiGetContactsRequest {
	r.smsEmailAddress = &smsEmailAddress
	return r
}

// Return only items matching specified website.
func (r ApiGetContactsRequest) WebSite(webSite string) ApiGetContactsRequest {
	r.webSite = &webSite
	return r
}

// Return only items matching the specified address.
func (r ApiGetContactsRequest) Address1(address1 string) ApiGetContactsRequest {
	r.address1 = &address1
	return r
}

// Return only items matching the specified address.
func (r ApiGetContactsRequest) Address2(address2 string) ApiGetContactsRequest {
	r.address2 = &address2
	return r
}

// Return only items matching the specified city.
func (r ApiGetContactsRequest) City(city string) ApiGetContactsRequest {
	r.city = &city
	return r
}

// Return only items matching the specified state.
func (r ApiGetContactsRequest) State(state string) ApiGetContactsRequest {
	r.state = &state
	return r
}

// Return only items matching the specified zip code.
func (r ApiGetContactsRequest) Zip(zip string) ApiGetContactsRequest {
	r.zip = &zip
	return r
}

// Return only active/inactive items.
func (r ApiGetContactsRequest) InOut(inOut bool) ApiGetContactsRequest {
	r.inOut = &inOut
	return r
}

// Return only deleted items.
func (r ApiGetContactsRequest) Deleted(deleted bool) ApiGetContactsRequest {
	r.deleted = &deleted
	return r
}

// Return only items which have been modified since the specified date.
func (r ApiGetContactsRequest) ModifiedSince(modifiedSince string) ApiGetContactsRequest {
	r.modifiedSince = &modifiedSince
	return r
}

// Return only items matching the specified foreign company id from synced integration.
func (r ApiGetContactsRequest) ForeignId(foreignId string) ApiGetContactsRequest {
	r.foreignId = &foreignId
	return r
}

// Return only items matching the specified foreign type for synced integration. (AutoTask/ConnectWise/ConnectWise configuration as Portal agreement)
func (r ApiGetContactsRequest) ForeignType(foreignType []string) ApiGetContactsRequest {
	r.foreignType = &foreignType
	return r
}

// Order the result set by a field or fields. Add a \&quot;-\&quot; to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
func (r ApiGetContactsRequest) OrderBy(orderBy []string) ApiGetContactsRequest {
	r.orderBy = &orderBy
	return r
}

// Limit the result set to the specified number of resources.
func (r ApiGetContactsRequest) Limit(limit int32) ApiGetContactsRequest {
	r.limit = &limit
	return r
}

// Skip the specified number of resources in the result set.
func (r ApiGetContactsRequest) Offset(offset int32) ApiGetContactsRequest {
	r.offset = &offset
	return r
}

// Must be specified if using a custom encryption key to encrypt data (found in login form).
func (r ApiGetContactsRequest) KeyValue(keyValue string) ApiGetContactsRequest {
	r.keyValue = &keyValue
	return r
}

func (r ApiGetContactsRequest) Execute() (*ContactDataWrapper, *http.Response, error) {
	return r.ApiService.GetContactsExecute(r)
}

/*
GetContacts Fetches lists of contacts

Fetches lists of portal contacts with optional filters. See notes on individual parameters below.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetContactsRequest
*/
func (a *ContactsAPIService) GetContacts(ctx context.Context) ApiGetContactsRequest {
	return ApiGetContactsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ContactDataWrapper
func (a *ContactsAPIService) GetContactsExecute(r ApiGetContactsRequest) (*ContactDataWrapper, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ContactDataWrapper
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContactsAPIService.GetContacts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/contacts/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.firstName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "firstName", r.firstName, "form", "")
	}
	if r.firstNameStartsWith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "firstNameStartsWith", r.firstNameStartsWith, "form", "")
	}
	if r.lastName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lastName", r.lastName, "form", "")
	}
	if r.lastNameStartsWith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lastNameStartsWith", r.lastNameStartsWith, "form", "")
	}
	if r.typeName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "typeName", r.typeName, "form", "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	if r.companyId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "companyId", r.companyId, "form", "")
	}
	if r.company != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "company", r.company, "form", "")
	}
	if r.site != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "site", r.site, "form", "")
	}
	if r.siteId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "siteId", r.siteId, "form", "")
	}
	if r.email != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "email", r.email, "form", "")
	}
	if r.directNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "directNumber", r.directNumber, "form", "")
	}
	if r.extension != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "extension", r.extension, "form", "")
	}
	if r.homePhone != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "homePhone", r.homePhone, "form", "")
	}
	if r.mobile != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mobile", r.mobile, "form", "")
	}
	if r.smsEmailAddress != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "smsEmailAddress", r.smsEmailAddress, "form", "")
	}
	if r.webSite != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "webSite", r.webSite, "form", "")
	}
	if r.address1 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "address1", r.address1, "form", "")
	}
	if r.address2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "address2", r.address2, "form", "")
	}
	if r.city != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "city", r.city, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	if r.zip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "zip", r.zip, "form", "")
	}
	if r.inOut != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "inOut", r.inOut, "form", "")
	}
	if r.deleted != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted", r.deleted, "form", "")
	}
	if r.modifiedSince != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedSince", r.modifiedSince, "form", "")
	}
	if r.foreignId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "foreignId", r.foreignId, "form", "")
	}
	if r.foreignType != nil {
		t := *r.foreignType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "foreignType", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "foreignType", t, "form", "multi")
		}
	}
	if r.orderBy != nil {
		t := *r.orderBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", t, "form", "multi")
		}
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.keyValue != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyValue", r.keyValue, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateContactByIdRequest struct {
	ctx           context.Context
	ApiService    *ContactsAPIService
	contactId     int64
	contact       *Contact
	authorization *string
}

// Contact fields that needs to be updated to the portal
func (r ApiUpdateContactByIdRequest) Contact(contact Contact) ApiUpdateContactByIdRequest {
	r.contact = &contact
	return r
}

func (r ApiUpdateContactByIdRequest) Authorization(authorization string) ApiUpdateContactByIdRequest {
	r.authorization = &authorization
	return r
}

func (r ApiUpdateContactByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.UpdateContactByIdExecute(r)
}

/*
UpdateContactById Updates a single Contact by id

Updates specific fields on an entity (RFC 7396)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param contactId A single contact id.
	@return ApiUpdateContactByIdRequest
*/
func (a *ContactsAPIService) UpdateContactById(ctx context.Context, contactId int64) ApiUpdateContactByIdRequest {
	return ApiUpdateContactByIdRequest{
		ApiService: a,
		ctx:        ctx,
		contactId:  contactId,
	}
}

// Execute executes the request
func (a *ContactsAPIService) UpdateContactByIdExecute(r ApiUpdateContactByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPatch
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContactsAPIService.UpdateContactById")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/contacts/{contactId}/"
	localVarPath = strings.Replace(localVarPath, "{"+"contactId"+"}", url.PathEscape(parameterValueToString(r.contactId, "contactId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.contact == nil {
		return nil, reportError("contact is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/merge-patch+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.contact
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiUploadFileToContactIdRequest struct {
	ctx           context.Context
	ApiService    *ContactsAPIService
	contactId     int64
	file          *os.File
	authorization *string
}

// The file to upload.
func (r ApiUploadFileToContactIdRequest) File(file *os.File) ApiUploadFileToContactIdRequest {
	r.file = file
	return r
}

func (r ApiUploadFileToContactIdRequest) Authorization(authorization string) ApiUploadFileToContactIdRequest {
	r.authorization = &authorization
	return r
}

func (r ApiUploadFileToContactIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.UploadFileToContactIdExecute(r)
}

/*
UploadFileToContactId Uploads an image to Contact

multipart/form-data

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param contactId A single contact id.
	@return ApiUploadFileToContactIdRequest
*/
func (a *ContactsAPIService) UploadFileToContactId(ctx context.Context, contactId int64) ApiUploadFileToContactIdRequest {
	return ApiUploadFileToContactIdRequest{
		ApiService: a,
		ctx:        ctx,
		contactId:  contactId,
	}
}

// Execute executes the request
func (a *ContactsAPIService) UploadFileToContactIdExecute(r ApiUploadFileToContactIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContactsAPIService.UploadFileToContactId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/contacts/{contactId}/file/"
	localVarPath = strings.Replace(localVarPath, "{"+"contactId"+"}", url.PathEscape(parameterValueToString(r.contactId, "contactId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.file == nil {
		return nil, reportError("file is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	var fileLocalVarFormFileName string
	var fileLocalVarFileName string
	var fileLocalVarFileBytes []byte

	fileLocalVarFormFileName = "file"
	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
