/*
Portal API 2.0

2.2.10

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package itportalapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"strings"
)

// FacilitiesAPIService FacilitiesAPI service
type FacilitiesAPIService service

type ApiCreateFacilityRequest struct {
	ctx           context.Context
	ApiService    *FacilitiesAPIService
	facility      *Facility
	authorization *string
}

// Facility object that needs to be added to the portal
func (r ApiCreateFacilityRequest) Facility(facility Facility) ApiCreateFacilityRequest {
	r.facility = &facility
	return r
}

func (r ApiCreateFacilityRequest) Authorization(authorization string) ApiCreateFacilityRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCreateFacilityRequest) Execute() (*http.Response, error) {
	return r.ApiService.CreateFacilityExecute(r)
}

/*
CreateFacility Adds a new facility to the portal

New facility will be added to the portal

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateFacilityRequest
*/
func (a *FacilitiesAPIService) CreateFacility(ctx context.Context) ApiCreateFacilityRequest {
	return ApiCreateFacilityRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *FacilitiesAPIService) CreateFacilityExecute(r ApiCreateFacilityRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FacilitiesAPIService.CreateFacility")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/facilities/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.facility == nil {
		return nil, reportError("facility is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.facility
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteFacilityByIdRequest struct {
	ctx           context.Context
	ApiService    *FacilitiesAPIService
	facilityId    int64
	authorization *string
}

func (r ApiDeleteFacilityByIdRequest) Authorization(authorization string) ApiDeleteFacilityByIdRequest {
	r.authorization = &authorization
	return r
}

func (r ApiDeleteFacilityByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteFacilityByIdExecute(r)
}

/*
DeleteFacilityById Deletes a facility

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param facilityId A single facility id.
	@return ApiDeleteFacilityByIdRequest
*/
func (a *FacilitiesAPIService) DeleteFacilityById(ctx context.Context, facilityId int64) ApiDeleteFacilityByIdRequest {
	return ApiDeleteFacilityByIdRequest{
		ApiService: a,
		ctx:        ctx,
		facilityId: facilityId,
	}
}

// Execute executes the request
func (a *FacilitiesAPIService) DeleteFacilityByIdExecute(r ApiDeleteFacilityByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FacilitiesAPIService.DeleteFacilityById")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/facilities/{facilityId}/"
	localVarPath = strings.Replace(localVarPath, "{"+"facilityId"+"}", url.PathEscape(parameterValueToString(r.facilityId, "facilityId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetFacilitiesRequest struct {
	ctx            context.Context
	ApiService     *FacilitiesAPIService
	authorization  *string
	name           *string
	nameStartsWith *string
	typeName       *string
	description    *string
	companyId      *string
	company        *string
	site           *string
	siteId         *string
	inOut          *bool
	deleted        *bool
	modifiedSince  *string
	orderBy        *[]string
	limit          *int32
	offset         *int32
	keyValue       *string
}

func (r ApiGetFacilitiesRequest) Authorization(authorization string) ApiGetFacilitiesRequest {
	r.authorization = &authorization
	return r
}

// Return only items matching the specified name.
func (r ApiGetFacilitiesRequest) Name(name string) ApiGetFacilitiesRequest {
	r.name = &name
	return r
}

// Return items with names that begin with the specified string.
func (r ApiGetFacilitiesRequest) NameStartsWith(nameStartsWith string) ApiGetFacilitiesRequest {
	r.nameStartsWith = &nameStartsWith
	return r
}

// Return only items matching the specified type.
func (r ApiGetFacilitiesRequest) TypeName(typeName string) ApiGetFacilitiesRequest {
	r.typeName = &typeName
	return r
}

// Return only items containing the specified description.
func (r ApiGetFacilitiesRequest) Description(description string) ApiGetFacilitiesRequest {
	r.description = &description
	return r
}

// Return only items matching the specified company id.
func (r ApiGetFacilitiesRequest) CompanyId(companyId string) ApiGetFacilitiesRequest {
	r.companyId = &companyId
	return r
}

// Return only items matching the specified company name.
func (r ApiGetFacilitiesRequest) Company(company string) ApiGetFacilitiesRequest {
	r.company = &company
	return r
}

// Return only items matching the specified site.
func (r ApiGetFacilitiesRequest) Site(site string) ApiGetFacilitiesRequest {
	r.site = &site
	return r
}

// Return only items matching the specified site id.
func (r ApiGetFacilitiesRequest) SiteId(siteId string) ApiGetFacilitiesRequest {
	r.siteId = &siteId
	return r
}

// Return only active/inactive items.
func (r ApiGetFacilitiesRequest) InOut(inOut bool) ApiGetFacilitiesRequest {
	r.inOut = &inOut
	return r
}

// Return only deleted items.
func (r ApiGetFacilitiesRequest) Deleted(deleted bool) ApiGetFacilitiesRequest {
	r.deleted = &deleted
	return r
}

// Return only items which have been modified since the specified date.
func (r ApiGetFacilitiesRequest) ModifiedSince(modifiedSince string) ApiGetFacilitiesRequest {
	r.modifiedSince = &modifiedSince
	return r
}

// Order the result set by a field or fields. Add a \&quot;-\&quot; to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
func (r ApiGetFacilitiesRequest) OrderBy(orderBy []string) ApiGetFacilitiesRequest {
	r.orderBy = &orderBy
	return r
}

// Limit the result set to the specified number of resources.
func (r ApiGetFacilitiesRequest) Limit(limit int32) ApiGetFacilitiesRequest {
	r.limit = &limit
	return r
}

// Skip the specified number of resources in the result set.
func (r ApiGetFacilitiesRequest) Offset(offset int32) ApiGetFacilitiesRequest {
	r.offset = &offset
	return r
}

// Must be specified if using a custom encryption key to encrypt data (found in login form).
func (r ApiGetFacilitiesRequest) KeyValue(keyValue string) ApiGetFacilitiesRequest {
	r.keyValue = &keyValue
	return r
}

func (r ApiGetFacilitiesRequest) Execute() (*FacilityDataWrapper, *http.Response, error) {
	return r.ApiService.GetFacilitiesExecute(r)
}

/*
GetFacilities Fetches lists of facilities

Fetches lists of portal facilities with optional filters. See notes on individual parameters below.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetFacilitiesRequest
*/
func (a *FacilitiesAPIService) GetFacilities(ctx context.Context) ApiGetFacilitiesRequest {
	return ApiGetFacilitiesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FacilityDataWrapper
func (a *FacilitiesAPIService) GetFacilitiesExecute(r ApiGetFacilitiesRequest) (*FacilityDataWrapper, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FacilityDataWrapper
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FacilitiesAPIService.GetFacilities")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/facilities/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.nameStartsWith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nameStartsWith", r.nameStartsWith, "form", "")
	}
	if r.typeName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "typeName", r.typeName, "form", "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	if r.companyId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "companyId", r.companyId, "form", "")
	}
	if r.company != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "company", r.company, "form", "")
	}
	if r.site != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "site", r.site, "form", "")
	}
	if r.siteId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "siteId", r.siteId, "form", "")
	}
	if r.inOut != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "inOut", r.inOut, "form", "")
	}
	if r.deleted != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted", r.deleted, "form", "")
	}
	if r.modifiedSince != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedSince", r.modifiedSince, "form", "")
	}
	if r.orderBy != nil {
		t := *r.orderBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", t, "form", "multi")
		}
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.keyValue != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyValue", r.keyValue, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetFacilityByIdRequest struct {
	ctx           context.Context
	ApiService    *FacilitiesAPIService
	facilityId    int64
	authorization *string
}

func (r ApiGetFacilityByIdRequest) Authorization(authorization string) ApiGetFacilityByIdRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetFacilityByIdRequest) Execute() (*FacilityDataWrapper, *http.Response, error) {
	return r.ApiService.GetFacilityByIdExecute(r)
}

/*
GetFacilityById Fetches a single facility by id

This method fetches a single facility resource. It is the canonical URI for any facility resource provided by the API.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param facilityId A single facility id.
	@return ApiGetFacilityByIdRequest
*/
func (a *FacilitiesAPIService) GetFacilityById(ctx context.Context, facilityId int64) ApiGetFacilityByIdRequest {
	return ApiGetFacilityByIdRequest{
		ApiService: a,
		ctx:        ctx,
		facilityId: facilityId,
	}
}

// Execute executes the request
//
//	@return FacilityDataWrapper
func (a *FacilitiesAPIService) GetFacilityByIdExecute(r ApiGetFacilityByIdRequest) (*FacilityDataWrapper, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FacilityDataWrapper
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FacilitiesAPIService.GetFacilityById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/facilities/{facilityId}/"
	localVarPath = strings.Replace(localVarPath, "{"+"facilityId"+"}", url.PathEscape(parameterValueToString(r.facilityId, "facilityId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdatefacilityByIdRequest struct {
	ctx           context.Context
	ApiService    *FacilitiesAPIService
	facilityId    int64
	facility      *Facility
	authorization *string
}

// Facility fields that need to be updated to the portal
func (r ApiUpdatefacilityByIdRequest) Facility(facility Facility) ApiUpdatefacilityByIdRequest {
	r.facility = &facility
	return r
}

func (r ApiUpdatefacilityByIdRequest) Authorization(authorization string) ApiUpdatefacilityByIdRequest {
	r.authorization = &authorization
	return r
}

func (r ApiUpdatefacilityByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.UpdatefacilityByIdExecute(r)
}

/*
UpdatefacilityById Updates a single facility by id

Updates specific fields on an entity (RFC 7396)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param facilityId A single facility id.
	@return ApiUpdatefacilityByIdRequest
*/
func (a *FacilitiesAPIService) UpdatefacilityById(ctx context.Context, facilityId int64) ApiUpdatefacilityByIdRequest {
	return ApiUpdatefacilityByIdRequest{
		ApiService: a,
		ctx:        ctx,
		facilityId: facilityId,
	}
}

// Execute executes the request
func (a *FacilitiesAPIService) UpdatefacilityByIdExecute(r ApiUpdatefacilityByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPatch
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FacilitiesAPIService.UpdatefacilityById")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/facilities/{facilityId}/"
	localVarPath = strings.Replace(localVarPath, "{"+"facilityId"+"}", url.PathEscape(parameterValueToString(r.facilityId, "facilityId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.facility == nil {
		return nil, reportError("facility is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/merge-patch+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.facility
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
