/*
Portal API 2.0

2.2.10

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package itportalapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"strings"
)

// IPNetworksAPIService IPNetworksAPI service
type IPNetworksAPIService service

type ApiCreateIPNetworkRequest struct {
	ctx           context.Context
	ApiService    *IPNetworksAPIService
	iPNetwork     *IPNetwork
	authorization *string
}

// IP Network object that needs to be added to the portal
func (r ApiCreateIPNetworkRequest) IPNetwork(iPNetwork IPNetwork) ApiCreateIPNetworkRequest {
	r.iPNetwork = &iPNetwork
	return r
}

func (r ApiCreateIPNetworkRequest) Authorization(authorization string) ApiCreateIPNetworkRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCreateIPNetworkRequest) Execute() (*http.Response, error) {
	return r.ApiService.CreateIPNetworkExecute(r)
}

/*
CreateIPNetwork Adds a new ip network to the portal

New ip network will be added to the portal

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateIPNetworkRequest
*/
func (a *IPNetworksAPIService) CreateIPNetwork(ctx context.Context) ApiCreateIPNetworkRequest {
	return ApiCreateIPNetworkRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *IPNetworksAPIService) CreateIPNetworkExecute(r ApiCreateIPNetworkRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IPNetworksAPIService.CreateIPNetwork")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/ipnetworks/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iPNetwork == nil {
		return nil, reportError("iPNetwork is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.iPNetwork
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteIPNetworkByIdRequest struct {
	ctx           context.Context
	ApiService    *IPNetworksAPIService
	ipnetworkId   int64
	authorization *string
}

func (r ApiDeleteIPNetworkByIdRequest) Authorization(authorization string) ApiDeleteIPNetworkByIdRequest {
	r.authorization = &authorization
	return r
}

func (r ApiDeleteIPNetworkByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteIPNetworkByIdExecute(r)
}

/*
DeleteIPNetworkById Deletes an IP Network

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param ipnetworkId A single IP network id.
	@return ApiDeleteIPNetworkByIdRequest
*/
func (a *IPNetworksAPIService) DeleteIPNetworkById(ctx context.Context, ipnetworkId int64) ApiDeleteIPNetworkByIdRequest {
	return ApiDeleteIPNetworkByIdRequest{
		ApiService:  a,
		ctx:         ctx,
		ipnetworkId: ipnetworkId,
	}
}

// Execute executes the request
func (a *IPNetworksAPIService) DeleteIPNetworkByIdExecute(r ApiDeleteIPNetworkByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IPNetworksAPIService.DeleteIPNetworkById")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/ipnetworks/{ipnetworkId}/"
	localVarPath = strings.Replace(localVarPath, "{"+"ipnetworkId"+"}", url.PathEscape(parameterValueToString(r.ipnetworkId, "ipnetworkId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetIPNetworkByIdRequest struct {
	ctx           context.Context
	ApiService    *IPNetworksAPIService
	ipnetworkId   int64
	authorization *string
}

func (r ApiGetIPNetworkByIdRequest) Authorization(authorization string) ApiGetIPNetworkByIdRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetIPNetworkByIdRequest) Execute() (*IPNetworkDataWrapper, *http.Response, error) {
	return r.ApiService.GetIPNetworkByIdExecute(r)
}

/*
GetIPNetworkById Fetches a single IP network by id

This method fetches a single IP network resource. It is the canonical URI for any IP network resource provided by the API.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param ipnetworkId A single IP network id.
	@return ApiGetIPNetworkByIdRequest
*/
func (a *IPNetworksAPIService) GetIPNetworkById(ctx context.Context, ipnetworkId int64) ApiGetIPNetworkByIdRequest {
	return ApiGetIPNetworkByIdRequest{
		ApiService:  a,
		ctx:         ctx,
		ipnetworkId: ipnetworkId,
	}
}

// Execute executes the request
//
//	@return IPNetworkDataWrapper
func (a *IPNetworksAPIService) GetIPNetworkByIdExecute(r ApiGetIPNetworkByIdRequest) (*IPNetworkDataWrapper, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IPNetworkDataWrapper
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IPNetworksAPIService.GetIPNetworkById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/ipnetworks/{ipnetworkId}/"
	localVarPath = strings.Replace(localVarPath, "{"+"ipnetworkId"+"}", url.PathEscape(parameterValueToString(r.ipnetworkId, "ipnetworkId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetIPNetworksRequest struct {
	ctx            context.Context
	ApiService     *IPNetworksAPIService
	authorization  *string
	name           *string
	nameStartsWith *string
	companyId      *string
	company        *string
	description    *string
	site           *string
	siteId         *string
	networkAddress *string
	vlanId         *string
	inOut          *bool
	deleted        *bool
	modifiedSince  *string
	orderBy        *[]string
	limit          *int32
	offset         *int32
	keyValue       *string
}

func (r ApiGetIPNetworksRequest) Authorization(authorization string) ApiGetIPNetworksRequest {
	r.authorization = &authorization
	return r
}

// Return only items matching the specified name.
func (r ApiGetIPNetworksRequest) Name(name string) ApiGetIPNetworksRequest {
	r.name = &name
	return r
}

// Return items with names that begin with the specified string.
func (r ApiGetIPNetworksRequest) NameStartsWith(nameStartsWith string) ApiGetIPNetworksRequest {
	r.nameStartsWith = &nameStartsWith
	return r
}

// Return only items matching the specified company id.
func (r ApiGetIPNetworksRequest) CompanyId(companyId string) ApiGetIPNetworksRequest {
	r.companyId = &companyId
	return r
}

// Return only items matching the specified company name.
func (r ApiGetIPNetworksRequest) Company(company string) ApiGetIPNetworksRequest {
	r.company = &company
	return r
}

// Return only items containing the specified description.
func (r ApiGetIPNetworksRequest) Description(description string) ApiGetIPNetworksRequest {
	r.description = &description
	return r
}

// Return only items matching the specified site.
func (r ApiGetIPNetworksRequest) Site(site string) ApiGetIPNetworksRequest {
	r.site = &site
	return r
}

// Return only items matching the specified site id.
func (r ApiGetIPNetworksRequest) SiteId(siteId string) ApiGetIPNetworksRequest {
	r.siteId = &siteId
	return r
}

// Return only items matching the network address.
func (r ApiGetIPNetworksRequest) NetworkAddress(networkAddress string) ApiGetIPNetworksRequest {
	r.networkAddress = &networkAddress
	return r
}

// Return only items matching the VLAN ID [0-4094].
func (r ApiGetIPNetworksRequest) VlanId(vlanId string) ApiGetIPNetworksRequest {
	r.vlanId = &vlanId
	return r
}

// Return only active/inactive items.
func (r ApiGetIPNetworksRequest) InOut(inOut bool) ApiGetIPNetworksRequest {
	r.inOut = &inOut
	return r
}

// Return only deleted items.
func (r ApiGetIPNetworksRequest) Deleted(deleted bool) ApiGetIPNetworksRequest {
	r.deleted = &deleted
	return r
}

// Return only items which have been modified since the specified date.
func (r ApiGetIPNetworksRequest) ModifiedSince(modifiedSince string) ApiGetIPNetworksRequest {
	r.modifiedSince = &modifiedSince
	return r
}

// Order the result set by a field or fields. Add a \&quot;-\&quot; to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
func (r ApiGetIPNetworksRequest) OrderBy(orderBy []string) ApiGetIPNetworksRequest {
	r.orderBy = &orderBy
	return r
}

// Limit the result set to the specified number of resources.
func (r ApiGetIPNetworksRequest) Limit(limit int32) ApiGetIPNetworksRequest {
	r.limit = &limit
	return r
}

// Skip the specified number of resources in the result set.
func (r ApiGetIPNetworksRequest) Offset(offset int32) ApiGetIPNetworksRequest {
	r.offset = &offset
	return r
}

// Must be specified if using a custom encryption key to encrypt data (found in login form).
func (r ApiGetIPNetworksRequest) KeyValue(keyValue string) ApiGetIPNetworksRequest {
	r.keyValue = &keyValue
	return r
}

func (r ApiGetIPNetworksRequest) Execute() (*IPNetworkDataWrapper, *http.Response, error) {
	return r.ApiService.GetIPNetworksExecute(r)
}

/*
GetIPNetworks Fetches lists of IP Networks

Fetches lists of portal IP Networks with optional filters. See notes on individual parameters below.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetIPNetworksRequest
*/
func (a *IPNetworksAPIService) GetIPNetworks(ctx context.Context) ApiGetIPNetworksRequest {
	return ApiGetIPNetworksRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IPNetworkDataWrapper
func (a *IPNetworksAPIService) GetIPNetworksExecute(r ApiGetIPNetworksRequest) (*IPNetworkDataWrapper, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IPNetworkDataWrapper
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IPNetworksAPIService.GetIPNetworks")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/ipnetworks/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.nameStartsWith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nameStartsWith", r.nameStartsWith, "form", "")
	}
	if r.companyId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "companyId", r.companyId, "form", "")
	}
	if r.company != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "company", r.company, "form", "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	if r.site != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "site", r.site, "form", "")
	}
	if r.siteId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "siteId", r.siteId, "form", "")
	}
	if r.networkAddress != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "networkAddress", r.networkAddress, "form", "")
	}
	if r.vlanId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vlanId", r.vlanId, "form", "")
	}
	if r.inOut != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "inOut", r.inOut, "form", "")
	}
	if r.deleted != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted", r.deleted, "form", "")
	}
	if r.modifiedSince != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedSince", r.modifiedSince, "form", "")
	}
	if r.orderBy != nil {
		t := *r.orderBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", t, "form", "multi")
		}
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.keyValue != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyValue", r.keyValue, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateIPNetworkByIdRequest struct {
	ctx           context.Context
	ApiService    *IPNetworksAPIService
	ipnetworkId   int64
	iPNetwork     *IPNetwork
	authorization *string
}

// IP Network fields that need to be updated to the portal
func (r ApiUpdateIPNetworkByIdRequest) IPNetwork(iPNetwork IPNetwork) ApiUpdateIPNetworkByIdRequest {
	r.iPNetwork = &iPNetwork
	return r
}

func (r ApiUpdateIPNetworkByIdRequest) Authorization(authorization string) ApiUpdateIPNetworkByIdRequest {
	r.authorization = &authorization
	return r
}

func (r ApiUpdateIPNetworkByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.UpdateIPNetworkByIdExecute(r)
}

/*
UpdateIPNetworkById Updates a single IP network by id

Updates specific fields on an entity (RFC 7396)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param ipnetworkId A single IP network id.
	@return ApiUpdateIPNetworkByIdRequest
*/
func (a *IPNetworksAPIService) UpdateIPNetworkById(ctx context.Context, ipnetworkId int64) ApiUpdateIPNetworkByIdRequest {
	return ApiUpdateIPNetworkByIdRequest{
		ApiService:  a,
		ctx:         ctx,
		ipnetworkId: ipnetworkId,
	}
}

// Execute executes the request
func (a *IPNetworksAPIService) UpdateIPNetworkByIdExecute(r ApiUpdateIPNetworkByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPatch
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IPNetworksAPIService.UpdateIPNetworkById")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/ipnetworks/{ipnetworkId}/"
	localVarPath = strings.Replace(localVarPath, "{"+"ipnetworkId"+"}", url.PathEscape(parameterValueToString(r.ipnetworkId, "ipnetworkId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iPNetwork == nil {
		return nil, reportError("iPNetwork is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/merge-patch+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.iPNetwork
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
