/*
Portal API 2.0

2.2.10

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package itportalapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
	"reflect"
	"strings"
)

// AgreementsAPIService AgreementsAPI service
type AgreementsAPIService service

type ApiCreateAgreementRequest struct {
	ctx           context.Context
	ApiService    *AgreementsAPIService
	agreement     *Agreement
	authorization *string
}

// Agreement that needs to be added to the portal
func (r ApiCreateAgreementRequest) Agreement(agreement Agreement) ApiCreateAgreementRequest {
	r.agreement = &agreement
	return r
}

func (r ApiCreateAgreementRequest) Authorization(authorization string) ApiCreateAgreementRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCreateAgreementRequest) Execute() (*http.Response, error) {
	return r.ApiService.CreateAgreementExecute(r)
}

/*
CreateAgreement Adds a new agreement to the portal

New agreement will be added to the portal

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateAgreementRequest
*/
func (a *AgreementsAPIService) CreateAgreement(ctx context.Context) ApiCreateAgreementRequest {
	return ApiCreateAgreementRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *AgreementsAPIService) CreateAgreementExecute(r ApiCreateAgreementRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgreementsAPIService.CreateAgreement")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/agreements/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.agreement == nil {
		return nil, reportError("agreement is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.agreement
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteAgreementByIdRequest struct {
	ctx           context.Context
	ApiService    *AgreementsAPIService
	agreementId   int64
	authorization *string
}

func (r ApiDeleteAgreementByIdRequest) Authorization(authorization string) ApiDeleteAgreementByIdRequest {
	r.authorization = &authorization
	return r
}

func (r ApiDeleteAgreementByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteAgreementByIdExecute(r)
}

/*
DeleteAgreementById Deletes an agreement

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param agreementId A single agreement id.
	@return ApiDeleteAgreementByIdRequest
*/
func (a *AgreementsAPIService) DeleteAgreementById(ctx context.Context, agreementId int64) ApiDeleteAgreementByIdRequest {
	return ApiDeleteAgreementByIdRequest{
		ApiService:  a,
		ctx:         ctx,
		agreementId: agreementId,
	}
}

// Execute executes the request
func (a *AgreementsAPIService) DeleteAgreementByIdExecute(r ApiDeleteAgreementByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgreementsAPIService.DeleteAgreementById")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/agreements/{agreementId}/"
	localVarPath = strings.Replace(localVarPath, "{"+"agreementId"+"}", url.PathEscape(parameterValueToString(r.agreementId, "agreementId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetAgreementByIdRequest struct {
	ctx           context.Context
	ApiService    *AgreementsAPIService
	agreementId   int64
	authorization *string
}

func (r ApiGetAgreementByIdRequest) Authorization(authorization string) ApiGetAgreementByIdRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetAgreementByIdRequest) Execute() (*AgreementDataWrapper, *http.Response, error) {
	return r.ApiService.GetAgreementByIdExecute(r)
}

/*
GetAgreementById Fetches a single agreement by id

This method fetches a single agreement resource. It is the canonical URI for any agreement resource provided by the API.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param agreementId A single agreement id.
	@return ApiGetAgreementByIdRequest
*/
func (a *AgreementsAPIService) GetAgreementById(ctx context.Context, agreementId int64) ApiGetAgreementByIdRequest {
	return ApiGetAgreementByIdRequest{
		ApiService:  a,
		ctx:         ctx,
		agreementId: agreementId,
	}
}

// Execute executes the request
//
//	@return AgreementDataWrapper
func (a *AgreementsAPIService) GetAgreementByIdExecute(r ApiGetAgreementByIdRequest) (*AgreementDataWrapper, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AgreementDataWrapper
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgreementsAPIService.GetAgreementById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/agreements/{agreementId}/"
	localVarPath = strings.Replace(localVarPath, "{"+"agreementId"+"}", url.PathEscape(parameterValueToString(r.agreementId, "agreementId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetAgreementsRequest struct {
	ctx            context.Context
	ApiService     *AgreementsAPIService
	authorization  *string
	name           *string
	nameStartsWith *string
	typeName       *string
	subTypeName    *string
	description    *string
	companyId      *string
	company        *string
	site           *string
	siteId         *string
	vendor         *string
	count          *int32
	cost           *float32
	serialNumber   *string
	dateIssued     *string
	dateExpires    *string
	installDate    *string
	inOut          *bool
	deleted        *bool
	modifiedSince  *string
	foreignId      *string
	foreignType    *[]string
	orderBy        *[]string
	limit          *int32
	offset         *int32
	keyValue       *string
}

func (r ApiGetAgreementsRequest) Authorization(authorization string) ApiGetAgreementsRequest {
	r.authorization = &authorization
	return r
}

// Return only items matching the specified name.
func (r ApiGetAgreementsRequest) Name(name string) ApiGetAgreementsRequest {
	r.name = &name
	return r
}

// Return items with names that begin with the specified string.
func (r ApiGetAgreementsRequest) NameStartsWith(nameStartsWith string) ApiGetAgreementsRequest {
	r.nameStartsWith = &nameStartsWith
	return r
}

// Return only items matching the specified type.
func (r ApiGetAgreementsRequest) TypeName(typeName string) ApiGetAgreementsRequest {
	r.typeName = &typeName
	return r
}

// Return only items matching the specified subtype.
func (r ApiGetAgreementsRequest) SubTypeName(subTypeName string) ApiGetAgreementsRequest {
	r.subTypeName = &subTypeName
	return r
}

// Return only items containing the specified description.
func (r ApiGetAgreementsRequest) Description(description string) ApiGetAgreementsRequest {
	r.description = &description
	return r
}

// Return only items matching the specified company id.
func (r ApiGetAgreementsRequest) CompanyId(companyId string) ApiGetAgreementsRequest {
	r.companyId = &companyId
	return r
}

// Return only items matching the specified company name.
func (r ApiGetAgreementsRequest) Company(company string) ApiGetAgreementsRequest {
	r.company = &company
	return r
}

// Return only items matching the specified site.
func (r ApiGetAgreementsRequest) Site(site string) ApiGetAgreementsRequest {
	r.site = &site
	return r
}

// Return only items matching the specified site id.
func (r ApiGetAgreementsRequest) SiteId(siteId string) ApiGetAgreementsRequest {
	r.siteId = &siteId
	return r
}

// Return only items matching the specified vendor.
func (r ApiGetAgreementsRequest) Vendor(vendor string) ApiGetAgreementsRequest {
	r.vendor = &vendor
	return r
}

// Return only items matching specified count.
func (r ApiGetAgreementsRequest) Count(count int32) ApiGetAgreementsRequest {
	r.count = &count
	return r
}

// Return only items matching specified cost (dot as a decimal separator).
func (r ApiGetAgreementsRequest) Cost(cost float32) ApiGetAgreementsRequest {
	r.cost = &cost
	return r
}

// Return only items matching specified serial number.
func (r ApiGetAgreementsRequest) SerialNumber(serialNumber string) ApiGetAgreementsRequest {
	r.serialNumber = &serialNumber
	return r
}

// Return only items matching specified issued date.
func (r ApiGetAgreementsRequest) DateIssued(dateIssued string) ApiGetAgreementsRequest {
	r.dateIssued = &dateIssued
	return r
}

// Return only items matching specified expiration date.
func (r ApiGetAgreementsRequest) DateExpires(dateExpires string) ApiGetAgreementsRequest {
	r.dateExpires = &dateExpires
	return r
}

// Return only items matching specified install date.
func (r ApiGetAgreementsRequest) InstallDate(installDate string) ApiGetAgreementsRequest {
	r.installDate = &installDate
	return r
}

// Return only active/inactive items.
func (r ApiGetAgreementsRequest) InOut(inOut bool) ApiGetAgreementsRequest {
	r.inOut = &inOut
	return r
}

// Return only deleted items.
func (r ApiGetAgreementsRequest) Deleted(deleted bool) ApiGetAgreementsRequest {
	r.deleted = &deleted
	return r
}

// Return only items which have been modified since the specified date.
func (r ApiGetAgreementsRequest) ModifiedSince(modifiedSince string) ApiGetAgreementsRequest {
	r.modifiedSince = &modifiedSince
	return r
}

// Return only items matching the specified foreign company id from synced integration.
func (r ApiGetAgreementsRequest) ForeignId(foreignId string) ApiGetAgreementsRequest {
	r.foreignId = &foreignId
	return r
}

// Return only items matching the specified foreign type for synced integration. (AutoTask/ConnectWise/ConnectWise configuration as Portal agreement)
func (r ApiGetAgreementsRequest) ForeignType(foreignType []string) ApiGetAgreementsRequest {
	r.foreignType = &foreignType
	return r
}

// Order the result set by a field or fields. Add a \&quot;-\&quot; to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
func (r ApiGetAgreementsRequest) OrderBy(orderBy []string) ApiGetAgreementsRequest {
	r.orderBy = &orderBy
	return r
}

// Limit the result set to the specified number of resources.
func (r ApiGetAgreementsRequest) Limit(limit int32) ApiGetAgreementsRequest {
	r.limit = &limit
	return r
}

// Skip the specified number of resources in the result set.
func (r ApiGetAgreementsRequest) Offset(offset int32) ApiGetAgreementsRequest {
	r.offset = &offset
	return r
}

// Must be specified if using a custom encryption key to encrypt data (found in login form).
func (r ApiGetAgreementsRequest) KeyValue(keyValue string) ApiGetAgreementsRequest {
	r.keyValue = &keyValue
	return r
}

func (r ApiGetAgreementsRequest) Execute() (*AgreementDataWrapper, *http.Response, error) {
	return r.ApiService.GetAgreementsExecute(r)
}

/*
GetAgreements Fetches lists of agreements

Fetches lists of portal agreements with optional filters. See notes on individual parameters below.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetAgreementsRequest
*/
func (a *AgreementsAPIService) GetAgreements(ctx context.Context) ApiGetAgreementsRequest {
	return ApiGetAgreementsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AgreementDataWrapper
func (a *AgreementsAPIService) GetAgreementsExecute(r ApiGetAgreementsRequest) (*AgreementDataWrapper, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AgreementDataWrapper
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgreementsAPIService.GetAgreements")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/agreements/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.nameStartsWith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nameStartsWith", r.nameStartsWith, "form", "")
	}
	if r.typeName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "typeName", r.typeName, "form", "")
	}
	if r.subTypeName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subTypeName", r.subTypeName, "form", "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	if r.companyId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "companyId", r.companyId, "form", "")
	}
	if r.company != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "company", r.company, "form", "")
	}
	if r.site != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "site", r.site, "form", "")
	}
	if r.siteId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "siteId", r.siteId, "form", "")
	}
	if r.vendor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vendor", r.vendor, "form", "")
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "form", "")
	}
	if r.cost != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cost", r.cost, "form", "")
	}
	if r.serialNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "serialNumber", r.serialNumber, "form", "")
	}
	if r.dateIssued != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dateIssued", r.dateIssued, "form", "")
	}
	if r.dateExpires != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dateExpires", r.dateExpires, "form", "")
	}
	if r.installDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "installDate", r.installDate, "form", "")
	}
	if r.inOut != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "inOut", r.inOut, "form", "")
	}
	if r.deleted != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted", r.deleted, "form", "")
	}
	if r.modifiedSince != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedSince", r.modifiedSince, "form", "")
	}
	if r.foreignId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "foreignId", r.foreignId, "form", "")
	}
	if r.foreignType != nil {
		t := *r.foreignType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "foreignType", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "foreignType", t, "form", "multi")
		}
	}
	if r.orderBy != nil {
		t := *r.orderBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", t, "form", "multi")
		}
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.keyValue != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyValue", r.keyValue, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateAgreementByIdRequest struct {
	ctx           context.Context
	ApiService    *AgreementsAPIService
	agreementId   int64
	agreement     *Agreement
	authorization *string
}

// Agreement fields that need to be updated to the portal
func (r ApiUpdateAgreementByIdRequest) Agreement(agreement Agreement) ApiUpdateAgreementByIdRequest {
	r.agreement = &agreement
	return r
}

func (r ApiUpdateAgreementByIdRequest) Authorization(authorization string) ApiUpdateAgreementByIdRequest {
	r.authorization = &authorization
	return r
}

func (r ApiUpdateAgreementByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.UpdateAgreementByIdExecute(r)
}

/*
UpdateAgreementById Updates a single agreement by id

Updates specific fields on an entity (RFC 7396)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param agreementId A single agreement id.
	@return ApiUpdateAgreementByIdRequest
*/
func (a *AgreementsAPIService) UpdateAgreementById(ctx context.Context, agreementId int64) ApiUpdateAgreementByIdRequest {
	return ApiUpdateAgreementByIdRequest{
		ApiService:  a,
		ctx:         ctx,
		agreementId: agreementId,
	}
}

// Execute executes the request
func (a *AgreementsAPIService) UpdateAgreementByIdExecute(r ApiUpdateAgreementByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPatch
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgreementsAPIService.UpdateAgreementById")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/agreements/{agreementId}/"
	localVarPath = strings.Replace(localVarPath, "{"+"agreementId"+"}", url.PathEscape(parameterValueToString(r.agreementId, "agreementId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.agreement == nil {
		return nil, reportError("agreement is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/merge-patch+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.agreement
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiUploadFileToAgreementIdRequest struct {
	ctx           context.Context
	ApiService    *AgreementsAPIService
	agreementId   int64
	file          *os.File
	authorization *string
}

// The file to upload.
func (r ApiUploadFileToAgreementIdRequest) File(file *os.File) ApiUploadFileToAgreementIdRequest {
	r.file = file
	return r
}

func (r ApiUploadFileToAgreementIdRequest) Authorization(authorization string) ApiUploadFileToAgreementIdRequest {
	r.authorization = &authorization
	return r
}

func (r ApiUploadFileToAgreementIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.UploadFileToAgreementIdExecute(r)
}

/*
UploadFileToAgreementId Uploads a file to Agreement

multipart/form-data

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param agreementId A single agreement id.
	@return ApiUploadFileToAgreementIdRequest
*/
func (a *AgreementsAPIService) UploadFileToAgreementId(ctx context.Context, agreementId int64) ApiUploadFileToAgreementIdRequest {
	return ApiUploadFileToAgreementIdRequest{
		ApiService:  a,
		ctx:         ctx,
		agreementId: agreementId,
	}
}

// Execute executes the request
func (a *AgreementsAPIService) UploadFileToAgreementIdExecute(r ApiUploadFileToAgreementIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgreementsAPIService.UploadFileToAgreementId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/agreements/{agreementId}/file/"
	localVarPath = strings.Replace(localVarPath, "{"+"agreementId"+"}", url.PathEscape(parameterValueToString(r.agreementId, "agreementId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.file == nil {
		return nil, reportError("file is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	var fileLocalVarFormFileName string
	var fileLocalVarFileName string
	var fileLocalVarFileBytes []byte

	fileLocalVarFormFileName = "file"
	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
