/*
Portal API 2.0

2.2.10

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package itportalapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// TemplatesAPIService TemplatesAPI service
type TemplatesAPIService service

type ApiGetFieldValuesRequest struct {
	ctx           context.Context
	ApiService    *TemplatesAPIService
	authorization *string
	templateId    *string
	fieldId       *string
	objectType    *string
	objectId      *int64
	limit         *int32
	offset        *int32
	keyValue      *string
}

func (r ApiGetFieldValuesRequest) Authorization(authorization string) ApiGetFieldValuesRequest {
	r.authorization = &authorization
	return r
}

// Return only items matching the specified template id.
func (r ApiGetFieldValuesRequest) TemplateId(templateId string) ApiGetFieldValuesRequest {
	r.templateId = &templateId
	return r
}

// Return only items matching the specified field id.
func (r ApiGetFieldValuesRequest) FieldId(fieldId string) ApiGetFieldValuesRequest {
	r.fieldId = &fieldId
	return r
}

// Portal Object type.
func (r ApiGetFieldValuesRequest) ObjectType(objectType string) ApiGetFieldValuesRequest {
	r.objectType = &objectType
	return r
}

// The unique ID of the portal object.
func (r ApiGetFieldValuesRequest) ObjectId(objectId int64) ApiGetFieldValuesRequest {
	r.objectId = &objectId
	return r
}

// Limit the result set to the specified number of resources.
func (r ApiGetFieldValuesRequest) Limit(limit int32) ApiGetFieldValuesRequest {
	r.limit = &limit
	return r
}

// Skip the specified number of resources in the result set.
func (r ApiGetFieldValuesRequest) Offset(offset int32) ApiGetFieldValuesRequest {
	r.offset = &offset
	return r
}

// Must be specified if using a custom encryption key to encrypt data (found in login form).
func (r ApiGetFieldValuesRequest) KeyValue(keyValue string) ApiGetFieldValuesRequest {
	r.keyValue = &keyValue
	return r
}

func (r ApiGetFieldValuesRequest) Execute() (*FieldValueDataWrapper, *http.Response, error) {
	return r.ApiService.GetFieldValuesExecute(r)
}

/*
GetFieldValues Fetches lists of field values

Fetches lists of portal template fields with optional filters. Field values are included. See notes on individual parameters below.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetFieldValuesRequest
*/
func (a *TemplatesAPIService) GetFieldValues(ctx context.Context) ApiGetFieldValuesRequest {
	return ApiGetFieldValuesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FieldValueDataWrapper
func (a *TemplatesAPIService) GetFieldValuesExecute(r ApiGetFieldValuesRequest) (*FieldValueDataWrapper, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FieldValueDataWrapper
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TemplatesAPIService.GetFieldValues")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/templates/fieldValues/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.templateId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "templateId", r.templateId, "form", "")
	}
	if r.fieldId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fieldId", r.fieldId, "form", "")
	}
	if r.objectType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "objectType", r.objectType, "form", "")
	}
	if r.objectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "objectId", r.objectId, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.keyValue != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyValue", r.keyValue, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetObjetTemplatesRequest struct {
	ctx           context.Context
	ApiService    *TemplatesAPIService
	objectType    string
	objectId      int64
	authorization *string
	name          *string
	modifiedSince *string
	limit         *int32
	offset        *int32
	keyValue      *string
}

func (r ApiGetObjetTemplatesRequest) Authorization(authorization string) ApiGetObjetTemplatesRequest {
	r.authorization = &authorization
	return r
}

// Return only items matching the specified name.
func (r ApiGetObjetTemplatesRequest) Name(name string) ApiGetObjetTemplatesRequest {
	r.name = &name
	return r
}

// Return only items which have been modified since the specified date.
func (r ApiGetObjetTemplatesRequest) ModifiedSince(modifiedSince string) ApiGetObjetTemplatesRequest {
	r.modifiedSince = &modifiedSince
	return r
}

// Limit the result set to the specified number of resources.
func (r ApiGetObjetTemplatesRequest) Limit(limit int32) ApiGetObjetTemplatesRequest {
	r.limit = &limit
	return r
}

// Skip the specified number of resources in the result set.
func (r ApiGetObjetTemplatesRequest) Offset(offset int32) ApiGetObjetTemplatesRequest {
	r.offset = &offset
	return r
}

// Must be specified if using a custom encryption key to encrypt data (found in login form).
func (r ApiGetObjetTemplatesRequest) KeyValue(keyValue string) ApiGetObjetTemplatesRequest {
	r.keyValue = &keyValue
	return r
}

func (r ApiGetObjetTemplatesRequest) Execute() (*TemplateDataWrapper, *http.Response, error) {
	return r.ApiService.GetObjetTemplatesExecute(r)
}

/*
GetObjetTemplates Fetches lists of templates with values for object

Fetches lists of portal templates with values.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param objectType Portal Object type.
	@param objectId The unique ID of the portal object.
	@return ApiGetObjetTemplatesRequest
*/
func (a *TemplatesAPIService) GetObjetTemplates(ctx context.Context, objectType string, objectId int64) ApiGetObjetTemplatesRequest {
	return ApiGetObjetTemplatesRequest{
		ApiService: a,
		ctx:        ctx,
		objectType: objectType,
		objectId:   objectId,
	}
}

// Execute executes the request
//
//	@return TemplateDataWrapper
func (a *TemplatesAPIService) GetObjetTemplatesExecute(r ApiGetObjetTemplatesRequest) (*TemplateDataWrapper, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TemplateDataWrapper
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TemplatesAPIService.GetObjetTemplates")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/templates/{objectType}/{objectId}/"
	localVarPath = strings.Replace(localVarPath, "{"+"objectType"+"}", url.PathEscape(parameterValueToString(r.objectType, "objectType")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.modifiedSince != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedSince", r.modifiedSince, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.keyValue != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyValue", r.keyValue, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTemplatesRequest struct {
	ctx           context.Context
	ApiService    *TemplatesAPIService
	authorization *string
	id            *string
	name          *string
	modifiedSince *string
	limit         *int32
	offset        *int32
	keyValue      *string
}

func (r ApiGetTemplatesRequest) Authorization(authorization string) ApiGetTemplatesRequest {
	r.authorization = &authorization
	return r
}

// Return only items matching the specified id.
func (r ApiGetTemplatesRequest) Id(id string) ApiGetTemplatesRequest {
	r.id = &id
	return r
}

// Return only items matching the specified name.
func (r ApiGetTemplatesRequest) Name(name string) ApiGetTemplatesRequest {
	r.name = &name
	return r
}

// Return only items which have been modified since the specified date.
func (r ApiGetTemplatesRequest) ModifiedSince(modifiedSince string) ApiGetTemplatesRequest {
	r.modifiedSince = &modifiedSince
	return r
}

// Limit the result set to the specified number of resources.
func (r ApiGetTemplatesRequest) Limit(limit int32) ApiGetTemplatesRequest {
	r.limit = &limit
	return r
}

// Skip the specified number of resources in the result set.
func (r ApiGetTemplatesRequest) Offset(offset int32) ApiGetTemplatesRequest {
	r.offset = &offset
	return r
}

// Must be specified if using a custom encryption key to encrypt data (found in login form).
func (r ApiGetTemplatesRequest) KeyValue(keyValue string) ApiGetTemplatesRequest {
	r.keyValue = &keyValue
	return r
}

func (r ApiGetTemplatesRequest) Execute() (*TemplateDataWrapper, *http.Response, error) {
	return r.ApiService.GetTemplatesExecute(r)
}

/*
GetTemplates Fetches lists of templates

Fetches lists of portal templates with optional filters. See notes on individual parameters below.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetTemplatesRequest
*/
func (a *TemplatesAPIService) GetTemplates(ctx context.Context) ApiGetTemplatesRequest {
	return ApiGetTemplatesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return TemplateDataWrapper
func (a *TemplatesAPIService) GetTemplatesExecute(r ApiGetTemplatesRequest) (*TemplateDataWrapper, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TemplateDataWrapper
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TemplatesAPIService.GetTemplates")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/templates/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.modifiedSince != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedSince", r.modifiedSince, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.keyValue != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyValue", r.keyValue, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdFieldByObjectIdFieldIdRequest struct {
	ctx                context.Context
	ApiService         *TemplatesAPIService
	objectType         string
	objectId           int64
	templateId         int64
	fieldId            int64
	templateFieldValue *TemplateFieldValue
	authorization      *string
}

// Example: {\&quot;value\&quot;:\&quot;2019-12-31\&quot;}  Date: \&quot;YYYY-MM-DD\&quot;  Decimal: 99.99  Integer: 1000  Password: \&quot;password\&quot;  Pull Down Menu: \&quot;pull down value\&quot;  Portal Object (all objects): [{\&quot;itemType\&quot;:\&quot;Agreement\&quot;,\&quot;id\&quot;:1}]  Text (Max 256 Characters): \&quot;text\&quot;  Text (Unlimited Characters): \&quot;text\&quot;  Yes/No (Checkbox): true/false  Multi Select Checkbox: [\&quot;value1\&quot;,\&quot;value2\&quot;]  Key/Value (all pairs): [{\&quot;key\&quot;:\&quot;key1\&quot;,\&quot;value\&quot;:\&quot;value1\&quot;},{\&quot;key\&quot;:\&quot;key2\&quot;,\&quot;value\&quot;:\&quot;value2\&quot;}]  Raiting: 5
func (r ApiUpdFieldByObjectIdFieldIdRequest) TemplateFieldValue(templateFieldValue TemplateFieldValue) ApiUpdFieldByObjectIdFieldIdRequest {
	r.templateFieldValue = &templateFieldValue
	return r
}

func (r ApiUpdFieldByObjectIdFieldIdRequest) Authorization(authorization string) ApiUpdFieldByObjectIdFieldIdRequest {
	r.authorization = &authorization
	return r
}

func (r ApiUpdFieldByObjectIdFieldIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.UpdFieldByObjectIdFieldIdExecute(r)
}

/*
UpdFieldByObjectIdFieldId Updates a single template field by id

Updates specific field on an entity's template

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param objectType Portal Object type.
	@param objectId The unique ID of the portal object.
	@param templateId A single template id.
	@param fieldId A single template's field id.
	@return ApiUpdFieldByObjectIdFieldIdRequest
*/
func (a *TemplatesAPIService) UpdFieldByObjectIdFieldId(ctx context.Context, objectType string, objectId int64, templateId int64, fieldId int64) ApiUpdFieldByObjectIdFieldIdRequest {
	return ApiUpdFieldByObjectIdFieldIdRequest{
		ApiService: a,
		ctx:        ctx,
		objectType: objectType,
		objectId:   objectId,
		templateId: templateId,
		fieldId:    fieldId,
	}
}

// Execute executes the request
func (a *TemplatesAPIService) UpdFieldByObjectIdFieldIdExecute(r ApiUpdFieldByObjectIdFieldIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPatch
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TemplatesAPIService.UpdFieldByObjectIdFieldId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/templates/{objectType}/{objectId}/{templateId}/fields/{fieldId}/"
	localVarPath = strings.Replace(localVarPath, "{"+"objectType"+"}", url.PathEscape(parameterValueToString(r.objectType, "objectType")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"templateId"+"}", url.PathEscape(parameterValueToString(r.templateId, "templateId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"fieldId"+"}", url.PathEscape(parameterValueToString(r.fieldId, "fieldId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.templateFieldValue == nil {
		return nil, reportError("templateFieldValue is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.templateFieldValue
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
