/*
Portal API 2.0

2.2.10

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package itportalapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"strings"
)

// CabinetsAPIService CabinetsAPI service
type CabinetsAPIService service

type ApiCreateCabinetRequest struct {
	ctx           context.Context
	ApiService    *CabinetsAPIService
	cabinet       *Cabinet
	authorization *string
}

// Cabinet that needs to be added to the portal
func (r ApiCreateCabinetRequest) Cabinet(cabinet Cabinet) ApiCreateCabinetRequest {
	r.cabinet = &cabinet
	return r
}

func (r ApiCreateCabinetRequest) Authorization(authorization string) ApiCreateCabinetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCreateCabinetRequest) Execute() (*http.Response, error) {
	return r.ApiService.CreateCabinetExecute(r)
}

/*
CreateCabinet Adds a new cabinet to the portal

New cabinet will be added to the portal

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateCabinetRequest
*/
func (a *CabinetsAPIService) CreateCabinet(ctx context.Context) ApiCreateCabinetRequest {
	return ApiCreateCabinetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *CabinetsAPIService) CreateCabinetExecute(r ApiCreateCabinetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CabinetsAPIService.CreateCabinet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/cabinets/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cabinet == nil {
		return nil, reportError("cabinet is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.cabinet
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteCabinetByIdRequest struct {
	ctx           context.Context
	ApiService    *CabinetsAPIService
	cabinetId     int64
	authorization *string
}

func (r ApiDeleteCabinetByIdRequest) Authorization(authorization string) ApiDeleteCabinetByIdRequest {
	r.authorization = &authorization
	return r
}

func (r ApiDeleteCabinetByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteCabinetByIdExecute(r)
}

/*
DeleteCabinetById Deletes a cabinet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cabinetId A single cabinet id.
	@return ApiDeleteCabinetByIdRequest
*/
func (a *CabinetsAPIService) DeleteCabinetById(ctx context.Context, cabinetId int64) ApiDeleteCabinetByIdRequest {
	return ApiDeleteCabinetByIdRequest{
		ApiService: a,
		ctx:        ctx,
		cabinetId:  cabinetId,
	}
}

// Execute executes the request
func (a *CabinetsAPIService) DeleteCabinetByIdExecute(r ApiDeleteCabinetByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CabinetsAPIService.DeleteCabinetById")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/cabinets/{cabinetId}/"
	localVarPath = strings.Replace(localVarPath, "{"+"cabinetId"+"}", url.PathEscape(parameterValueToString(r.cabinetId, "cabinetId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetCabinetByIdRequest struct {
	ctx           context.Context
	ApiService    *CabinetsAPIService
	cabinetId     int64
	authorization *string
}

func (r ApiGetCabinetByIdRequest) Authorization(authorization string) ApiGetCabinetByIdRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetCabinetByIdRequest) Execute() (*CabinetDataWrapper, *http.Response, error) {
	return r.ApiService.GetCabinetByIdExecute(r)
}

/*
GetCabinetById Fetches a single cabinet by id

This method fetches a single cabinet resource. It is the canonical URI for any cabinet resource provided by the API.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cabinetId A single cabinet id.
	@return ApiGetCabinetByIdRequest
*/
func (a *CabinetsAPIService) GetCabinetById(ctx context.Context, cabinetId int64) ApiGetCabinetByIdRequest {
	return ApiGetCabinetByIdRequest{
		ApiService: a,
		ctx:        ctx,
		cabinetId:  cabinetId,
	}
}

// Execute executes the request
//
//	@return CabinetDataWrapper
func (a *CabinetsAPIService) GetCabinetByIdExecute(r ApiGetCabinetByIdRequest) (*CabinetDataWrapper, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CabinetDataWrapper
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CabinetsAPIService.GetCabinetById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/cabinets/{cabinetId}/"
	localVarPath = strings.Replace(localVarPath, "{"+"cabinetId"+"}", url.PathEscape(parameterValueToString(r.cabinetId, "cabinetId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCabinetsRequest struct {
	ctx            context.Context
	ApiService     *CabinetsAPIService
	authorization  *string
	name           *string
	nameStartsWith *string
	description    *string
	companyId      *string
	company        *string
	siteId         *string
	facilityId     *string
	address1       *string
	address2       *string
	city           *string
	state          *string
	zip            *string
	inOut          *bool
	deleted        *bool
	modifiedSince  *string
	orderBy        *[]string
	limit          *int32
	offset         *int32
	keyValue       *string
}

func (r ApiGetCabinetsRequest) Authorization(authorization string) ApiGetCabinetsRequest {
	r.authorization = &authorization
	return r
}

// Return only items matching the specified name.
func (r ApiGetCabinetsRequest) Name(name string) ApiGetCabinetsRequest {
	r.name = &name
	return r
}

// Return items with names that begin with the specified string.
func (r ApiGetCabinetsRequest) NameStartsWith(nameStartsWith string) ApiGetCabinetsRequest {
	r.nameStartsWith = &nameStartsWith
	return r
}

// Return only items containing the specified description.
func (r ApiGetCabinetsRequest) Description(description string) ApiGetCabinetsRequest {
	r.description = &description
	return r
}

// Return only items matching the specified company id.
func (r ApiGetCabinetsRequest) CompanyId(companyId string) ApiGetCabinetsRequest {
	r.companyId = &companyId
	return r
}

// Return only items matching the specified company name.
func (r ApiGetCabinetsRequest) Company(company string) ApiGetCabinetsRequest {
	r.company = &company
	return r
}

// Return only items matching the specified site id.
func (r ApiGetCabinetsRequest) SiteId(siteId string) ApiGetCabinetsRequest {
	r.siteId = &siteId
	return r
}

// Return only items matching the specified facility id.
func (r ApiGetCabinetsRequest) FacilityId(facilityId string) ApiGetCabinetsRequest {
	r.facilityId = &facilityId
	return r
}

// Return only items matching the specified address.
func (r ApiGetCabinetsRequest) Address1(address1 string) ApiGetCabinetsRequest {
	r.address1 = &address1
	return r
}

// Return only items matching the specified address.
func (r ApiGetCabinetsRequest) Address2(address2 string) ApiGetCabinetsRequest {
	r.address2 = &address2
	return r
}

// Return only items matching the specified city.
func (r ApiGetCabinetsRequest) City(city string) ApiGetCabinetsRequest {
	r.city = &city
	return r
}

// Return only items matching the specified state.
func (r ApiGetCabinetsRequest) State(state string) ApiGetCabinetsRequest {
	r.state = &state
	return r
}

// Return only items matching the specified zip code.
func (r ApiGetCabinetsRequest) Zip(zip string) ApiGetCabinetsRequest {
	r.zip = &zip
	return r
}

// Return only active/inactive items.
func (r ApiGetCabinetsRequest) InOut(inOut bool) ApiGetCabinetsRequest {
	r.inOut = &inOut
	return r
}

// Return only deleted items.
func (r ApiGetCabinetsRequest) Deleted(deleted bool) ApiGetCabinetsRequest {
	r.deleted = &deleted
	return r
}

// Return only items which have been modified since the specified date.
func (r ApiGetCabinetsRequest) ModifiedSince(modifiedSince string) ApiGetCabinetsRequest {
	r.modifiedSince = &modifiedSince
	return r
}

// Order the result set by a field or fields. Add a \&quot;-\&quot; to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
func (r ApiGetCabinetsRequest) OrderBy(orderBy []string) ApiGetCabinetsRequest {
	r.orderBy = &orderBy
	return r
}

// Limit the result set to the specified number of resources.
func (r ApiGetCabinetsRequest) Limit(limit int32) ApiGetCabinetsRequest {
	r.limit = &limit
	return r
}

// Skip the specified number of resources in the result set.
func (r ApiGetCabinetsRequest) Offset(offset int32) ApiGetCabinetsRequest {
	r.offset = &offset
	return r
}

// Must be specified if using a custom encryption key to encrypt data (found in login form).
func (r ApiGetCabinetsRequest) KeyValue(keyValue string) ApiGetCabinetsRequest {
	r.keyValue = &keyValue
	return r
}

func (r ApiGetCabinetsRequest) Execute() (*CabinetDataWrapper, *http.Response, error) {
	return r.ApiService.GetCabinetsExecute(r)
}

/*
GetCabinets Fetches lists of cabinets

Fetches lists of portal cabinets with optional filters. See notes on individual parameters below.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetCabinetsRequest
*/
func (a *CabinetsAPIService) GetCabinets(ctx context.Context) ApiGetCabinetsRequest {
	return ApiGetCabinetsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CabinetDataWrapper
func (a *CabinetsAPIService) GetCabinetsExecute(r ApiGetCabinetsRequest) (*CabinetDataWrapper, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CabinetDataWrapper
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CabinetsAPIService.GetCabinets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/cabinets/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.nameStartsWith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nameStartsWith", r.nameStartsWith, "form", "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	if r.companyId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "companyId", r.companyId, "form", "")
	}
	if r.company != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "company", r.company, "form", "")
	}
	if r.siteId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "siteId", r.siteId, "form", "")
	}
	if r.facilityId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "facilityId", r.facilityId, "form", "")
	}
	if r.address1 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "address1", r.address1, "form", "")
	}
	if r.address2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "address2", r.address2, "form", "")
	}
	if r.city != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "city", r.city, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	if r.zip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "zip", r.zip, "form", "")
	}
	if r.inOut != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "inOut", r.inOut, "form", "")
	}
	if r.deleted != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted", r.deleted, "form", "")
	}
	if r.modifiedSince != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedSince", r.modifiedSince, "form", "")
	}
	if r.orderBy != nil {
		t := *r.orderBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", t, "form", "multi")
		}
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.keyValue != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyValue", r.keyValue, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateCabinetByIdRequest struct {
	ctx           context.Context
	ApiService    *CabinetsAPIService
	cabinetId     int64
	cabinet       *Cabinet
	authorization *string
}

// Cabinet fields that need to be updated to the portal
func (r ApiUpdateCabinetByIdRequest) Cabinet(cabinet Cabinet) ApiUpdateCabinetByIdRequest {
	r.cabinet = &cabinet
	return r
}

func (r ApiUpdateCabinetByIdRequest) Authorization(authorization string) ApiUpdateCabinetByIdRequest {
	r.authorization = &authorization
	return r
}

func (r ApiUpdateCabinetByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.UpdateCabinetByIdExecute(r)
}

/*
UpdateCabinetById Updates a single cabinet by id

Updates specific fields on an entity (RFC 7396)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cabinetId A single cabinet id.
	@return ApiUpdateCabinetByIdRequest
*/
func (a *CabinetsAPIService) UpdateCabinetById(ctx context.Context, cabinetId int64) ApiUpdateCabinetByIdRequest {
	return ApiUpdateCabinetByIdRequest{
		ApiService: a,
		ctx:        ctx,
		cabinetId:  cabinetId,
	}
}

// Execute executes the request
func (a *CabinetsAPIService) UpdateCabinetByIdExecute(r ApiUpdateCabinetByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPatch
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CabinetsAPIService.UpdateCabinetById")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/cabinets/{cabinetId}/"
	localVarPath = strings.Replace(localVarPath, "{"+"cabinetId"+"}", url.PathEscape(parameterValueToString(r.cabinetId, "cabinetId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cabinet == nil {
		return nil, reportError("cabinet is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/merge-patch+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.cabinet
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
