/*
Portal API 2.0

2.2.10

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package itportalapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// AdditionalCredentialsAPIService AdditionalCredentialsAPI service
type AdditionalCredentialsAPIService service

type ApiCreateAdditionalCredentialRequest struct {
	ctx                  context.Context
	ApiService           *AdditionalCredentialsAPIService
	authorization        *string
	additionalCredential *AdditionalCredential
}

func (r ApiCreateAdditionalCredentialRequest) Authorization(authorization string) ApiCreateAdditionalCredentialRequest {
	r.authorization = &authorization
	return r
}

// Additional credential that needs to be added to the portal object
func (r ApiCreateAdditionalCredentialRequest) AdditionalCredential(additionalCredential AdditionalCredential) ApiCreateAdditionalCredentialRequest {
	r.additionalCredential = &additionalCredential
	return r
}

func (r ApiCreateAdditionalCredentialRequest) Execute() (*http.Response, error) {
	return r.ApiService.CreateAdditionalCredentialExecute(r)
}

/*
CreateAdditionalCredential Adds a new additional credential to the portal object

New additional credential will be added to the portal object

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateAdditionalCredentialRequest
*/
func (a *AdditionalCredentialsAPIService) CreateAdditionalCredential(ctx context.Context) ApiCreateAdditionalCredentialRequest {
	return ApiCreateAdditionalCredentialRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *AdditionalCredentialsAPIService) CreateAdditionalCredentialExecute(r ApiCreateAdditionalCredentialRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdditionalCredentialsAPIService.CreateAdditionalCredential")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/additionalCredentials/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorization == nil {
		return nil, reportError("authorization is required and must be specified")
	}
	if r.additionalCredential == nil {
		return nil, reportError("additionalCredential is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	// body params
	localVarPostBody = r.additionalCredential
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteAdditionalCredentialByIdRequest struct {
	ctx                    context.Context
	ApiService             *AdditionalCredentialsAPIService
	authorization          *string
	additionalCredentialId int64
}

func (r ApiDeleteAdditionalCredentialByIdRequest) Authorization(authorization string) ApiDeleteAdditionalCredentialByIdRequest {
	r.authorization = &authorization
	return r
}

func (r ApiDeleteAdditionalCredentialByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteAdditionalCredentialByIdExecute(r)
}

/*
DeleteAdditionalCredentialById Deletes an Additional Credential

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param additionalCredentialId A single additional credential id.
	@return ApiDeleteAdditionalCredentialByIdRequest
*/
func (a *AdditionalCredentialsAPIService) DeleteAdditionalCredentialById(ctx context.Context, additionalCredentialId int64) ApiDeleteAdditionalCredentialByIdRequest {
	return ApiDeleteAdditionalCredentialByIdRequest{
		ApiService:             a,
		ctx:                    ctx,
		additionalCredentialId: additionalCredentialId,
	}
}

// Execute executes the request
func (a *AdditionalCredentialsAPIService) DeleteAdditionalCredentialByIdExecute(r ApiDeleteAdditionalCredentialByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdditionalCredentialsAPIService.DeleteAdditionalCredentialById")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/additionalCredentials/{additionalCredentialId}/"
	localVarPath = strings.Replace(localVarPath, "{"+"additionalCredentialId"+"}", url.PathEscape(parameterValueToString(r.additionalCredentialId, "additionalCredentialId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorization == nil {
		return nil, reportError("authorization is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetAdditionalCredentialByIdRequest struct {
	ctx                    context.Context
	ApiService             *AdditionalCredentialsAPIService
	authorization          *string
	additionalCredentialId int64
}

func (r ApiGetAdditionalCredentialByIdRequest) Authorization(authorization string) ApiGetAdditionalCredentialByIdRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetAdditionalCredentialByIdRequest) Execute() (*AdditionalCredentialDataWrapper, *http.Response, error) {
	return r.ApiService.GetAdditionalCredentialByIdExecute(r)
}

/*
GetAdditionalCredentialById Fetches a single additional credential by id

This method fetches a single additional credential resource. It is the canonical URI for any additional credential resource provided by the API.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param additionalCredentialId A single additional credential id.
	@return ApiGetAdditionalCredentialByIdRequest
*/
func (a *AdditionalCredentialsAPIService) GetAdditionalCredentialById(ctx context.Context, additionalCredentialId int64) ApiGetAdditionalCredentialByIdRequest {
	return ApiGetAdditionalCredentialByIdRequest{
		ApiService:             a,
		ctx:                    ctx,
		additionalCredentialId: additionalCredentialId,
	}
}

// Execute executes the request
//
//	@return AdditionalCredentialDataWrapper
func (a *AdditionalCredentialsAPIService) GetAdditionalCredentialByIdExecute(r ApiGetAdditionalCredentialByIdRequest) (*AdditionalCredentialDataWrapper, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AdditionalCredentialDataWrapper
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdditionalCredentialsAPIService.GetAdditionalCredentialById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/additionalCredentials/{additionalCredentialId}/"
	localVarPath = strings.Replace(localVarPath, "{"+"additionalCredentialId"+"}", url.PathEscape(parameterValueToString(r.additionalCredentialId, "additionalCredentialId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetAdditionalCredentialsRequest struct {
	ctx           context.Context
	ApiService    *AdditionalCredentialsAPIService
	authorization *string
	objectType    *string
	objectId      *int64
	typeName      *string
	description   *string
	url           *string
	modifiedSince *string
	limit         *int32
	offset        *int32
	keyValue      *string
}

func (r ApiGetAdditionalCredentialsRequest) Authorization(authorization string) ApiGetAdditionalCredentialsRequest {
	r.authorization = &authorization
	return r
}

// Portal Object type.
func (r ApiGetAdditionalCredentialsRequest) ObjectType(objectType string) ApiGetAdditionalCredentialsRequest {
	r.objectType = &objectType
	return r
}

// The unique ID of the portal object.
func (r ApiGetAdditionalCredentialsRequest) ObjectId(objectId int64) ApiGetAdditionalCredentialsRequest {
	r.objectId = &objectId
	return r
}

// Return only items matching the specified type.
func (r ApiGetAdditionalCredentialsRequest) TypeName(typeName string) ApiGetAdditionalCredentialsRequest {
	r.typeName = &typeName
	return r
}

// Return only items containing the specified description.
func (r ApiGetAdditionalCredentialsRequest) Description(description string) ApiGetAdditionalCredentialsRequest {
	r.description = &description
	return r
}

// Return only items containing the specified url.
func (r ApiGetAdditionalCredentialsRequest) Url(url string) ApiGetAdditionalCredentialsRequest {
	r.url = &url
	return r
}

// Return only items which have been modified since the specified date.
func (r ApiGetAdditionalCredentialsRequest) ModifiedSince(modifiedSince string) ApiGetAdditionalCredentialsRequest {
	r.modifiedSince = &modifiedSince
	return r
}

// Limit the result set to the specified number of resources.
func (r ApiGetAdditionalCredentialsRequest) Limit(limit int32) ApiGetAdditionalCredentialsRequest {
	r.limit = &limit
	return r
}

// Skip the specified number of resources in the result set.
func (r ApiGetAdditionalCredentialsRequest) Offset(offset int32) ApiGetAdditionalCredentialsRequest {
	r.offset = &offset
	return r
}

// Must be specified if using a custom encryption key to encrypt data (found in login form).
func (r ApiGetAdditionalCredentialsRequest) KeyValue(keyValue string) ApiGetAdditionalCredentialsRequest {
	r.keyValue = &keyValue
	return r
}

func (r ApiGetAdditionalCredentialsRequest) Execute() (*AdditionalCredentialDataWrapper, *http.Response, error) {
	return r.ApiService.GetAdditionalCredentialsExecute(r)
}

/*
GetAdditionalCredentials Fetches lists of additional credentials

Fetches lists of additional credentials with optional filters. See notes on individual parameters below.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetAdditionalCredentialsRequest
*/
func (a *AdditionalCredentialsAPIService) GetAdditionalCredentials(ctx context.Context) ApiGetAdditionalCredentialsRequest {
	return ApiGetAdditionalCredentialsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AdditionalCredentialDataWrapper
func (a *AdditionalCredentialsAPIService) GetAdditionalCredentialsExecute(r ApiGetAdditionalCredentialsRequest) (*AdditionalCredentialDataWrapper, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AdditionalCredentialDataWrapper
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdditionalCredentialsAPIService.GetAdditionalCredentials")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/additionalCredentials/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}

	if r.objectType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "objectType", r.objectType, "form", "")
	}
	if r.objectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "objectId", r.objectId, "form", "")
	}
	if r.typeName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "typeName", r.typeName, "form", "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	if r.url != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "url", r.url, "form", "")
	}
	if r.modifiedSince != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedSince", r.modifiedSince, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.keyValue != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyValue", r.keyValue, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateAdditionalCredentialByIdRequest struct {
	ctx                    context.Context
	ApiService             *AdditionalCredentialsAPIService
	authorization          *string
	additionalCredentialId int64
	additionalCredential   *AdditionalCredential
}

func (r ApiUpdateAdditionalCredentialByIdRequest) Authorization(authorization string) ApiUpdateAdditionalCredentialByIdRequest {
	r.authorization = &authorization
	return r
}

// Additional Credential fields that need to be updated to the portal
func (r ApiUpdateAdditionalCredentialByIdRequest) AdditionalCredential(additionalCredential AdditionalCredential) ApiUpdateAdditionalCredentialByIdRequest {
	r.additionalCredential = &additionalCredential
	return r
}

func (r ApiUpdateAdditionalCredentialByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.UpdateAdditionalCredentialByIdExecute(r)
}

/*
UpdateAdditionalCredentialById Updates a single additional credential by id

Updates specific fields on an entity (RFC 7396)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param additionalCredentialId A single additional credential id.
	@return ApiUpdateAdditionalCredentialByIdRequest
*/
func (a *AdditionalCredentialsAPIService) UpdateAdditionalCredentialById(ctx context.Context, additionalCredentialId int64) ApiUpdateAdditionalCredentialByIdRequest {
	return ApiUpdateAdditionalCredentialByIdRequest{
		ApiService:             a,
		ctx:                    ctx,
		additionalCredentialId: additionalCredentialId,
	}
}

// Execute executes the request
func (a *AdditionalCredentialsAPIService) UpdateAdditionalCredentialByIdExecute(r ApiUpdateAdditionalCredentialByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPatch
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdditionalCredentialsAPIService.UpdateAdditionalCredentialById")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/2.0/additionalCredentials/{additionalCredentialId}/"
	localVarPath = strings.Replace(localVarPath, "{"+"additionalCredentialId"+"}", url.PathEscape(parameterValueToString(r.additionalCredentialId, "additionalCredentialId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorization == nil {
		return nil, reportError("authorization is required and must be specified")
	}
	if r.additionalCredential == nil {
		return nil, reportError("additionalCredential is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/merge-patch+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	// body params
	localVarPostBody = r.additionalCredential
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RequestError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
