openapi: 3.0.0
info:
  description: 2.2.10
  title: Portal API 2.0
  version: v1
servers:
- url: http://www.siportal.net/
- url: https://www.siportal.net/
tags:
- description: Everything about the Companies
  name: Companies
- description: Everything about the Accounts
  name: Accounts
- description: Everything about the Agreements
  name: Agreements
- description: Everything about the Cabinets
  name: Cabinets
- description: Everything about the Configurations
  name: Configurations
- description: Everything about the Contacts
  name: Contacts
- description: Everything about the Devices
  name: Devices
- description: Everything about the Documents
  name: Documents
- description: Everything about the Facilities
  name: Facilities
- description: Everything about the IP Networks
  name: IP Networks
- description: Everything about the KBs
  name: KBs
- description: Everything about the Sites
  name: Sites
- description: Everything about the Additional Credentials
  name: Additional Credentials
- description: Everything about the Addresses
  name: Addresses
- description: Everything about the Object Categories/Types
  name: Categories & Types
- description: Object Interaction Notes
  name: Interactions
- description: Object Sheets
  name: Sheets
- description: Portal system data
  name: System
- description: Everything about the Templates
  name: Templates
paths:
  /api/2.0/companies/:
    get:
      description: Fetches lists of portal companies with optional filters. See notes
        on individual parameters below.
      operationId: getCompanies
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: Return only items matching the specified name.
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Return items with names that begin with the specified string.
        explode: true
        in: query
        name: nameStartsWith
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified type.
        explode: true
        in: query
        name: typeName
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified status.
        explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      - description: Return only items containing the specified description.
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified abbreviation.
        explode: true
        in: query
        name: abbreviation
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching specified start date.
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: Return only active/inactive items.
        explode: true
        in: query
        name: inOut
        required: false
        schema:
          type: boolean
        style: form
      - description: Return only deleted items.
        explode: true
        in: query
        name: deleted
        required: false
        schema:
          type: boolean
        style: form
      - description: Return only items which have been modified since the specified
          date.
        explode: true
        in: query
        name: modifiedSince
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified foreign company id from
          synced integration.
        explode: true
        in: query
        name: foreignId
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified foreign type for synced
          integration. (AutoTask/ConnectWise/ConnectWise configuration as Portal agreement)
        explode: true
        in: query
        name: foreignType
        required: false
        schema:
          items:
            enum:
            - AT
            - CW
            - CWC
            type: string
          type: array
        style: form
      - description: Order the result set by a field or fields. Add a "-" to the value
          sort in descending order. Multiple values are given priority in the order
          in which they are passed.
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          items:
            enum:
            - id
            - name
            - modified
            - -id
            - -name
            - -modified
            type: string
          type: array
        style: form
      - description: Limit the result set to the specified number of resources.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Skip the specified number of resources in the result set.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Must be specified if using a custom encryption key to encrypt
          data (found in login form).
        explode: true
        in: query
        name: keyValue
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/CompanyDataWrapper"
          description: Success response
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
      summary: Fetches lists of companies
      tags:
      - Companies
    post:
      description: New Company will be added to the portal
      operationId: createCompany
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Company"
        description: Company object that needs to be added to the portal
        required: true
      responses:
        "201":
          description: Created (Location header with a link to the newly-created resource)
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
      summary: Adds a new Company to the portal
      tags:
      - Companies
  /api/2.0/companies/{companyId}/:
    delete:
      description: ""
      operationId: deleteCompanyById
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: A single company id.
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
        "404":
          description: Company not found
      summary: Deletes a company
      tags:
      - Companies
    get:
      description: This method fetches a single company resource. It is the canonical
        URI for any company resource provided by the API.
      operationId: getCompanyById
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: A single company id.
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/CompanyDataWrapper"
          description: Success response
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
        "404":
          description: Company not found.
      summary: Fetches a single company by id
      tags:
      - Companies
    patch:
      description: Updates specific fields on an entity (RFC 7396)
      operationId: updateCompanyById
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: A single company id.
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/Company"
        description: Company fields that needs to be updated to the portal
        required: true
      responses:
        "204":
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
        "404":
          description: Company not found.
      summary: Updates a single Company by id
      tags:
      - Companies
  /api/2.0/companies/{companyId}/accounts/:
    get:
      description: Fetches lists of portal accounts with optional filters. See notes
        on individual parameters below.
      operationId: getCompanyAccounts
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: A single company id.
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Return only items matching the specified name.
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Return items with names that begin with the specified string.
        explode: true
        in: query
        name: nameStartsWith
        required: false
        schema:
          type: string
        style: form
      - description: Return only active/inactive items.
        explode: true
        in: query
        name: inOut
        required: false
        schema:
          type: boolean
        style: form
      - description: Return only deleted items.
        explode: true
        in: query
        name: deleted
        required: false
        schema:
          type: boolean
        style: form
      - description: Return only items which have been modified since the specified
          date.
        explode: true
        in: query
        name: modifiedSince
        required: false
        schema:
          type: string
        style: form
      - description: Order the result set by a field or fields. Add a "-" to the value
          sort in descending order. Multiple values are given priority in the order
          in which they are passed.
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          items:
            enum:
            - id
            - name
            - modified
            - -id
            - -name
            - -modified
            type: string
          type: array
        style: form
      - description: Limit the result set to the specified number of resources.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Skip the specified number of resources in the result set.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Must be specified if using a custom encryption key to encrypt
          data (found in login form).
        explode: true
        in: query
        name: keyValue
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AccountDataWrapper"
          description: Success response
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
        "404":
          description: Company not found.
      summary: Fetches lists of single company accounts
      tags:
      - Companies
  /api/2.0/companies/{companyId}/addresses/:
    get:
      description: Fetches lists of portal addresses with optional filters. See notes
        on individual parameters below.
      operationId: getCompanyAddresses
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: A single company id.
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Return only items which have been modified since the specified
          date.
        explode: true
        in: query
        name: modifiedSince
        required: false
        schema:
          type: string
        style: form
      - description: Limit the result set to the specified number of resources.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Skip the specified number of resources in the result set.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Must be specified if using a custom encryption key to encrypt
          data (found in login form).
        explode: true
        in: query
        name: keyValue
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AddressDataWrapper"
          description: Success response
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
        "404":
          description: Company not found.
      summary: Fetches lists of single company addresses
      tags:
      - Companies
    post:
      description: New address will be added to the Portal company
      operationId: createAddress
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: A single company id.
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Address"
        description: Address that needs to be added to the Portal company
        required: true
      responses:
        "201":
          description: Created (Location header with a link to the newly-created resource)
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
      summary: Adds a new address to the Portal company
      tags:
      - Addresses
  /api/2.0/system/companies/mainContacts/:
    get:
      description: Fetches lists of portal main contacts with optional filters. See
        notes on individual parameters below.
      operationId: getCompaniesMainContacts
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: Limit the result set to the specified number of resources.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Skip the specified number of resources in the result set.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Must be specified if using a custom encryption key to encrypt
          data (found in login form).
        explode: true
        in: query
        name: keyValue
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/MainContactDataWrapper"
          description: Success response
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
      summary: Fetches lists of portal main contacts for companies
      tags:
      - System
  /api/2.0/accounts/:
    get:
      description: Fetches lists of portal accounts with optional filters. See notes
        on individual parameters below.
      operationId: getAccounts
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: Return only items matching the specified name.
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Return items with names that begin with the specified string.
        explode: true
        in: query
        name: nameStartsWith
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified company id.
        explode: true
        in: query
        name: companyId
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified company name.
        explode: true
        in: query
        name: company
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified site id.
        explode: true
        in: query
        name: siteId
        required: false
        schema:
          type: string
        style: form
      - description: Return only active/inactive items.
        explode: true
        in: query
        name: inOut
        required: false
        schema:
          type: boolean
        style: form
      - description: Return only deleted items.
        explode: true
        in: query
        name: deleted
        required: false
        schema:
          type: boolean
        style: form
      - description: Return only items which have been modified since the specified
          date.
        explode: true
        in: query
        name: modifiedSince
        required: false
        schema:
          type: string
        style: form
      - description: Order the result set by a field or fields. Add a "-" to the value
          sort in descending order. Multiple values are given priority in the order
          in which they are passed.
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          items:
            enum:
            - id
            - name
            - modified
            - -id
            - -name
            - -modified
            type: string
          type: array
        style: form
      - description: Limit the result set to the specified number of resources.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Skip the specified number of resources in the result set.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Must be specified if using a custom encryption key to encrypt
          data (found in login form).
        explode: true
        in: query
        name: keyValue
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AccountDataWrapper"
          description: Success response
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
      summary: Fetches lists of accounts
      tags:
      - Accounts
    post:
      description: New account will be added to the portal
      operationId: createAccount
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Account"
        description: Account that needs to be added to the portal
        required: true
      responses:
        "201":
          description: Created (Location header with a link to the newly-created resource)
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
      summary: Adds a new account to the portal
      tags:
      - Accounts
  /api/2.0/accounts/{accountId}/:
    delete:
      description: ""
      operationId: deleteAccountById
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: A single account id.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
        "404":
          description: Account not found
      summary: Deletes an account
      tags:
      - Accounts
    get:
      description: This method fetches a single account resource. It is the canonical
        URI for any account resource provided by the API.
      operationId: getAccountById
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: A single account id.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AccountDataWrapper"
          description: Success response
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
        "404":
          description: Account not found.
      summary: Fetches a single account by id
      tags:
      - Accounts
    patch:
      description: Updates specific fields on an entity (RFC 7396)
      operationId: updateAccountById
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: A single account id.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/Account"
        description: Account fields that need to be updated to the portal
        required: true
      responses:
        "204":
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
        "404":
          description: Account not found.
      summary: Updates a single account by id
      tags:
      - Accounts
  /api/2.0/accounts/{accountId}/credentials/:
    get:
      description: This method fetches a single account credentials resource.
      operationId: getCredentialsByAccountId
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: A single account id.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Credentials"
          description: Success response
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
      summary: Fetches credentials by a single account id
      tags:
      - Accounts
  /api/2.0/agreements/:
    get:
      description: Fetches lists of portal agreements with optional filters. See notes
        on individual parameters below.
      operationId: getAgreements
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: Return only items matching the specified name.
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Return items with names that begin with the specified string.
        explode: true
        in: query
        name: nameStartsWith
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified type.
        explode: true
        in: query
        name: typeName
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified subtype.
        explode: true
        in: query
        name: subTypeName
        required: false
        schema:
          type: string
        style: form
      - description: Return only items containing the specified description.
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified company id.
        explode: true
        in: query
        name: companyId
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified company name.
        explode: true
        in: query
        name: company
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified site.
        explode: true
        in: query
        name: site
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified site id.
        explode: true
        in: query
        name: siteId
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified vendor.
        explode: true
        in: query
        name: vendor
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching specified count.
        explode: true
        in: query
        name: count
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Return only items matching specified cost (dot as a decimal separator).
        explode: true
        in: query
        name: cost
        required: false
        schema:
          type: number
        style: form
      - description: Return only items matching specified serial number.
        explode: true
        in: query
        name: serialNumber
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching specified issued date.
        explode: true
        in: query
        name: dateIssued
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching specified expiration date.
        explode: true
        in: query
        name: dateExpires
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching specified install date.
        explode: true
        in: query
        name: installDate
        required: false
        schema:
          type: string
        style: form
      - description: Return only active/inactive items.
        explode: true
        in: query
        name: inOut
        required: false
        schema:
          type: boolean
        style: form
      - description: Return only deleted items.
        explode: true
        in: query
        name: deleted
        required: false
        schema:
          type: boolean
        style: form
      - description: Return only items which have been modified since the specified
          date.
        explode: true
        in: query
        name: modifiedSince
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified foreign company id from
          synced integration.
        explode: true
        in: query
        name: foreignId
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified foreign type for synced
          integration. (AutoTask/ConnectWise/ConnectWise configuration as Portal agreement)
        explode: true
        in: query
        name: foreignType
        required: false
        schema:
          items:
            enum:
            - AT
            - CW
            - CWC
            type: string
          type: array
        style: form
      - description: Order the result set by a field or fields. Add a "-" to the value
          sort in descending order. Multiple values are given priority in the order
          in which they are passed.
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          items:
            enum:
            - id
            - name
            - modified
            - -id
            - -name
            - -modified
            type: string
          type: array
        style: form
      - description: Limit the result set to the specified number of resources.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Skip the specified number of resources in the result set.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Must be specified if using a custom encryption key to encrypt
          data (found in login form).
        explode: true
        in: query
        name: keyValue
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AgreementDataWrapper"
          description: Success response
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
      summary: Fetches lists of agreements
      tags:
      - Agreements
    post:
      description: New agreement will be added to the portal
      operationId: createAgreement
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Agreement"
        description: Agreement that needs to be added to the portal
        required: true
      responses:
        "201":
          description: Created (Location header with a link to the newly-created resource)
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
      summary: Adds a new agreement to the portal
      tags:
      - Agreements
  /api/2.0/agreements/{agreementId}/:
    delete:
      description: ""
      operationId: deleteAgreementById
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: A single agreement id.
        explode: false
        in: path
        name: agreementId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
        "404":
          description: Agreement not found
      summary: Deletes an agreement
      tags:
      - Agreements
    get:
      description: This method fetches a single agreement resource. It is the canonical
        URI for any agreement resource provided by the API.
      operationId: getAgreementById
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: A single agreement id.
        explode: false
        in: path
        name: agreementId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AgreementDataWrapper"
          description: Success response
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
        "404":
          description: Agreement not found.
      summary: Fetches a single agreement by id
      tags:
      - Agreements
    patch:
      description: Updates specific fields on an entity (RFC 7396)
      operationId: updateAgreementById
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: A single agreement id.
        explode: false
        in: path
        name: agreementId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/Agreement"
        description: Agreement fields that need to be updated to the portal
        required: true
      responses:
        "204":
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
        "404":
          description: Agreement not found.
      summary: Updates a single agreement by id
      tags:
      - Agreements
  /api/2.0/agreements/{agreementId}/file/:
    post:
      description: multipart/form-data
      operationId: uploadFileToAgreementId
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: A single agreement id.
        explode: false
        in: path
        name: agreementId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        $ref: "#/components/requestBodies/uploadFileToAgreementId"
      responses:
        "204":
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
        "404":
          description: Agreement not found.
      summary: Uploads a file to Agreement
      tags:
      - Agreements
  /api/2.0/cabinets/:
    get:
      description: Fetches lists of portal cabinets with optional filters. See notes
        on individual parameters below.
      operationId: getCabinets
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: Return only items matching the specified name.
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Return items with names that begin with the specified string.
        explode: true
        in: query
        name: nameStartsWith
        required: false
        schema:
          type: string
        style: form
      - description: Return only items containing the specified description.
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified company id.
        explode: true
        in: query
        name: companyId
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified company name.
        explode: true
        in: query
        name: company
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified site id.
        explode: true
        in: query
        name: siteId
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified facility id.
        explode: true
        in: query
        name: facilityId
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified address.
        explode: true
        in: query
        name: address1
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified address.
        explode: true
        in: query
        name: address2
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified city.
        explode: true
        in: query
        name: city
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified state.
        explode: true
        in: query
        name: state
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified zip code.
        explode: true
        in: query
        name: zip
        required: false
        schema:
          type: string
        style: form
      - description: Return only active/inactive items.
        explode: true
        in: query
        name: inOut
        required: false
        schema:
          type: boolean
        style: form
      - description: Return only deleted items.
        explode: true
        in: query
        name: deleted
        required: false
        schema:
          type: boolean
        style: form
      - description: Return only items which have been modified since the specified
          date.
        explode: true
        in: query
        name: modifiedSince
        required: false
        schema:
          type: string
        style: form
      - description: Order the result set by a field or fields. Add a "-" to the value
          sort in descending order. Multiple values are given priority in the order
          in which they are passed.
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          items:
            enum:
            - id
            - name
            - modified
            - -id
            - -name
            - -modified
            type: string
          type: array
        style: form
      - description: Limit the result set to the specified number of resources.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Skip the specified number of resources in the result set.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Must be specified if using a custom encryption key to encrypt
          data (found in login form).
        explode: true
        in: query
        name: keyValue
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/CabinetDataWrapper"
          description: Success response
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
      summary: Fetches lists of cabinets
      tags:
      - Cabinets
    post:
      description: New cabinet will be added to the portal
      operationId: createCabinet
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Cabinet"
        description: Cabinet that needs to be added to the portal
        required: true
      responses:
        "201":
          description: Created (Location header with a link to the newly-created resource)
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
      summary: Adds a new cabinet to the portal
      tags:
      - Cabinets
  /api/2.0/cabinets/{cabinetId}/:
    delete:
      description: ""
      operationId: deleteCabinetById
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: A single cabinet id.
        explode: false
        in: path
        name: cabinetId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
        "404":
          description: Cabinet not found
      summary: Deletes a cabinet
      tags:
      - Cabinets
    get:
      description: This method fetches a single cabinet resource. It is the canonical
        URI for any cabinet resource provided by the API.
      operationId: getCabinetById
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: A single cabinet id.
        explode: false
        in: path
        name: cabinetId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/CabinetDataWrapper"
          description: Success response
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
        "404":
          description: Cabinet not found.
      summary: Fetches a single cabinet by id
      tags:
      - Cabinets
    patch:
      description: Updates specific fields on an entity (RFC 7396)
      operationId: updateCabinetById
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: A single cabinet id.
        explode: false
        in: path
        name: cabinetId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/Cabinet"
        description: Cabinet fields that need to be updated to the portal
        required: true
      responses:
        "204":
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
        "404":
          description: Cabinet not found.
      summary: Updates a single cabinet by id
      tags:
      - Cabinets
  /api/2.0/configurations/:
    get:
      description: Fetches lists of portal configurations with optional filters. See
        notes on individual parameters below.
      operationId: getConfigurations
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: Return only items matching the specified name.
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Return items with names that begin with the specified string.
        explode: true
        in: query
        name: nameStartsWith
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified type.
        explode: true
        in: query
        name: typeName
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified type id.
        explode: true
        in: query
        name: typeId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Return only items containing the specified description.
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified company id.
        explode: true
        in: query
        name: companyId
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified company name.
        explode: true
        in: query
        name: company
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching specified install date.
        explode: true
        in: query
        name: installDate
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching specified expiration date.
        explode: true
        in: query
        name: dateExpires
        required: false
        schema:
          type: string
        style: form
      - description: Return only active/inactive items.
        explode: true
        in: query
        name: inOut
        required: false
        schema:
          type: boolean
        style: form
      - description: Return only deleted items.
        explode: true
        in: query
        name: deleted
        required: false
        schema:
          type: boolean
        style: form
      - description: Return only items which have been modified since the specified
          date.
        explode: true
        in: query
        name: modifiedSince
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified foreign company id from
          synced integration.
        explode: true
        in: query
        name: foreignId
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified foreign type for synced
          integration. (AutoTask/ConnectWise/ConnectWise configuration as Portal agreement)
        explode: true
        in: query
        name: foreignType
        required: false
        schema:
          items:
            enum:
            - AT
            - CW
            - CWC
            type: string
          type: array
        style: form
      - description: Order the result set by a field or fields. Add a "-" to the value
          sort in descending order. Multiple values are given priority in the order
          in which they are passed.
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          items:
            enum:
            - id
            - name
            - modified
            - -id
            - -name
            - -modified
            type: string
          type: array
        style: form
      - description: Limit the result set to the specified number of resources.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Skip the specified number of resources in the result set.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Must be specified if using a custom encryption key to encrypt
          data (found in login form).
        explode: true
        in: query
        name: keyValue
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ConfigurationDataWrapper"
          description: Success response
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
      summary: Fetches lists of configurations
      tags:
      - Configurations
    post:
      description: New configuration will be added to the portal
      operationId: createConfiguration
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Configuration"
        description: Configuration that needs to be added to the portal
        required: true
      responses:
        "201":
          description: Created (Location header with a link to the newly-created resource)
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
      summary: Adds a new configuration to the portal
      tags:
      - Configurations
  /api/2.0/configurations/{configurationId}/:
    delete:
      description: ""
      operationId: deleteConfigurationById
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: A single configuration id.
        explode: false
        in: path
        name: configurationId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
        "404":
          description: Configuration not found
      summary: Deletes a configuration
      tags:
      - Configurations
    get:
      description: This method fetches a single configuration resource. It is the
        canonical URI for any configuration resource provided by the API.
      operationId: getConfigurationById
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: A single configuration id.
        explode: false
        in: path
        name: configurationId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ConfigurationDataWrapper"
          description: Success response
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
        "404":
          description: Configuration not found.
      summary: Fetches a single configuration by id
      tags:
      - Configurations
    patch:
      description: Updates specific fields on an entity (RFC 7396)
      operationId: updateConfigurationById
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: A single configuration id.
        explode: false
        in: path
        name: configurationId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/Configuration"
        description: Configuration fields that need to be updated to the portal
        required: true
      responses:
        "204":
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
        "404":
          description: Configuration not found.
      summary: Updates a single configuration by id
      tags:
      - Configurations
  /api/2.0/contacts/:
    get:
      description: Fetches lists of portal contacts with optional filters. See notes
        on individual parameters below.
      operationId: getContacts
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: Return only items matching the specified full contact name.
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified first name.
        explode: true
        in: query
        name: firstName
        required: false
        schema:
          type: string
        style: form
      - description: Return items with first names that begin with the specified string.
        explode: true
        in: query
        name: firstNameStartsWith
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified last name.
        explode: true
        in: query
        name: lastName
        required: false
        schema:
          type: string
        style: form
      - description: Return items with last names that begin with the specified string.
        explode: true
        in: query
        name: lastNameStartsWith
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified type.
        explode: true
        in: query
        name: typeName
        required: false
        schema:
          type: string
        style: form
      - description: Return only items containing the specified description.
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified company id.
        explode: true
        in: query
        name: companyId
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified company name.
        explode: true
        in: query
        name: company
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified site.
        explode: true
        in: query
        name: site
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified site id.
        explode: true
        in: query
        name: siteId
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching specified email address.
        explode: true
        in: query
        name: email
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching specified direct number.
        explode: true
        in: query
        name: directNumber
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching specified extension.
        explode: true
        in: query
        name: extension
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching specified home phone.
        explode: true
        in: query
        name: homePhone
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching specified mobile.
        explode: true
        in: query
        name: mobile
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching specified SMS email address.
        explode: true
        in: query
        name: smsEmailAddress
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching specified website.
        explode: true
        in: query
        name: webSite
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified address.
        explode: true
        in: query
        name: address1
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified address.
        explode: true
        in: query
        name: address2
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified city.
        explode: true
        in: query
        name: city
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified state.
        explode: true
        in: query
        name: state
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified zip code.
        explode: true
        in: query
        name: zip
        required: false
        schema:
          type: string
        style: form
      - description: Return only active/inactive items.
        explode: true
        in: query
        name: inOut
        required: false
        schema:
          type: boolean
        style: form
      - description: Return only deleted items.
        explode: true
        in: query
        name: deleted
        required: false
        schema:
          type: boolean
        style: form
      - description: Return only items which have been modified since the specified
          date.
        explode: true
        in: query
        name: modifiedSince
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified foreign company id from
          synced integration.
        explode: true
        in: query
        name: foreignId
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified foreign type for synced
          integration. (AutoTask/ConnectWise/ConnectWise configuration as Portal agreement)
        explode: true
        in: query
        name: foreignType
        required: false
        schema:
          items:
            enum:
            - AT
            - CW
            - CWC
            type: string
          type: array
        style: form
      - description: Order the result set by a field or fields. Add a "-" to the value
          sort in descending order. Multiple values are given priority in the order
          in which they are passed.
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          items:
            enum:
            - id
            - name
            - modified
            - -id
            - -name
            - -modified
            type: string
          type: array
        style: form
      - description: Limit the result set to the specified number of resources.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Skip the specified number of resources in the result set.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Must be specified if using a custom encryption key to encrypt
          data (found in login form).
        explode: true
        in: query
        name: keyValue
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ContactDataWrapper"
          description: Success response
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
      summary: Fetches lists of contacts
      tags:
      - Contacts
    post:
      description: New contact will be added to the portal
      operationId: createContact
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Contact"
        description: Contact that needs to be added to the portal
        required: true
      responses:
        "201":
          description: Created (Location header with a link to the newly-created resource)
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
      summary: Adds a new contact to the portal
      tags:
      - Contacts
  /api/2.0/contacts/{contactId}/:
    delete:
      description: ""
      operationId: deleteContactById
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: A single contact id.
        explode: false
        in: path
        name: contactId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
        "404":
          description: Contact not found
      summary: Deletes a contact
      tags:
      - Contacts
    get:
      description: This method fetches a single contact resource. It is the canonical
        URI for any contact resource provided by the API.
      operationId: getContactById
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: A single contact id.
        explode: false
        in: path
        name: contactId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ContactDataWrapper"
          description: Success response
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
        "404":
          description: Contact not found.
      summary: Fetches a single contact by id
      tags:
      - Contacts
    patch:
      description: Updates specific fields on an entity (RFC 7396)
      operationId: updateContactById
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: A single contact id.
        explode: false
        in: path
        name: contactId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/Contact"
        description: Contact fields that needs to be updated to the portal
        required: true
      responses:
        "204":
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
        "404":
          description: Contact not found.
      summary: Updates a single Contact by id
      tags:
      - Contacts
  /api/2.0/contacts/{contactId}/file/:
    post:
      description: multipart/form-data
      operationId: uploadFileToContactId
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: A single contact id.
        explode: false
        in: path
        name: contactId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        $ref: "#/components/requestBodies/uploadFileToAgreementId"
      responses:
        "204":
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
        "404":
          description: Contact not found.
      summary: Uploads an image to Contact
      tags:
      - Contacts
  /api/2.0/facilities/:
    get:
      description: Fetches lists of portal facilities with optional filters. See notes
        on individual parameters below.
      operationId: getFacilities
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: Return only items matching the specified name.
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Return items with names that begin with the specified string.
        explode: true
        in: query
        name: nameStartsWith
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified type.
        explode: true
        in: query
        name: typeName
        required: false
        schema:
          type: string
        style: form
      - description: Return only items containing the specified description.
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified company id.
        explode: true
        in: query
        name: companyId
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified company name.
        explode: true
        in: query
        name: company
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified site.
        explode: true
        in: query
        name: site
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified site id.
        explode: true
        in: query
        name: siteId
        required: false
        schema:
          type: string
        style: form
      - description: Return only active/inactive items.
        explode: true
        in: query
        name: inOut
        required: false
        schema:
          type: boolean
        style: form
      - description: Return only deleted items.
        explode: true
        in: query
        name: deleted
        required: false
        schema:
          type: boolean
        style: form
      - description: Return only items which have been modified since the specified
          date.
        explode: true
        in: query
        name: modifiedSince
        required: false
        schema:
          type: string
        style: form
      - description: Order the result set by a field or fields. Add a "-" to the value
          sort in descending order. Multiple values are given priority in the order
          in which they are passed.
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          items:
            enum:
            - id
            - name
            - modified
            - -id
            - -name
            - -modified
            type: string
          type: array
        style: form
      - description: Limit the result set to the specified number of resources.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Skip the specified number of resources in the result set.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Must be specified if using a custom encryption key to encrypt
          data (found in login form).
        explode: true
        in: query
        name: keyValue
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/FacilityDataWrapper"
          description: Success response
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
      summary: Fetches lists of facilities
      tags:
      - Facilities
    post:
      description: New facility will be added to the portal
      operationId: createFacility
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Facility"
        description: Facility object that needs to be added to the portal
        required: true
      responses:
        "201":
          description: Created (Location header with a link to the newly-created resource)
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
      summary: Adds a new facility to the portal
      tags:
      - Facilities
  /api/2.0/facilities/{facilityId}/:
    delete:
      description: ""
      operationId: deleteFacilityById
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: A single facility id.
        explode: false
        in: path
        name: facilityId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
        "404":
          description: Facility not found
      summary: Deletes a facility
      tags:
      - Facilities
    get:
      description: This method fetches a single facility resource. It is the canonical
        URI for any facility resource provided by the API.
      operationId: getFacilityById
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: A single facility id.
        explode: false
        in: path
        name: facilityId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/FacilityDataWrapper"
          description: Success response
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
        "404":
          description: Facility not found.
      summary: Fetches a single facility by id
      tags:
      - Facilities
    patch:
      description: Updates specific fields on an entity (RFC 7396)
      operationId: updatefacilityById
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: A single facility id.
        explode: false
        in: path
        name: facilityId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/Facility"
        description: Facility fields that need to be updated to the portal
        required: true
      responses:
        "204":
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
        "404":
          description: Facility not found.
      summary: Updates a single facility by id
      tags:
      - Facilities
  /api/2.0/devices/:
    get:
      description: Fetches lists of portal devices with optional filters. See notes
        on individual parameters below.
      operationId: getDevices
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: Return only items matching the specified name.
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Return items with names that begin with the specified string.
        explode: true
        in: query
        name: nameStartsWith
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified type.
        explode: true
        in: query
        name: typeName
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified type id.
        explode: true
        in: query
        name: typeId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Return only items matching specified warranty expiration date.
        explode: true
        in: query
        name: warrantyExpires
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified company id.
        explode: true
        in: query
        name: companyId
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified company name.
        explode: true
        in: query
        name: company
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified site id.
        explode: true
        in: query
        name: siteId
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified cabinet id.
        explode: true
        in: query
        name: cabinetId
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified facility id.
        explode: true
        in: query
        name: facilityId
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching specified install date.
        explode: true
        in: query
        name: installDate
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching specified purchase date.
        explode: true
        in: query
        name: purchaseDate
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching specified retire date.
        explode: true
        in: query
        name: retireDate
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching specified lease end date.
        explode: true
        in: query
        name: leaseEndDate
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching specified manufacturer.
        explode: true
        in: query
        name: manufacturer
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching specified IP Address.
        explode: true
        in: query
        name: ipAddress
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching specified MAC Address.
        explode: true
        in: query
        name: macAddress
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching specified IMEI.
        explode: true
        in: query
        name: imei
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching specified serial number.
        explode: true
        in: query
        name: serialNumber
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching specified tag.
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Return only active/inactive items.
        explode: true
        in: query
        name: inOut
        required: false
        schema:
          type: boolean
        style: form
      - description: Return only deleted items.
        explode: true
        in: query
        name: deleted
        required: false
        schema:
          type: boolean
        style: form
      - description: Return only items which have been modified since the specified
          date.
        explode: true
        in: query
        name: modifiedSince
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified foreign company id from
          synced integration.
        explode: true
        in: query
        name: foreignId
        required: false
        schema:
          type: string
        style: form
      - description: Return only items matching the specified foreign type for synced
          integration. (AutoTask/ConnectWise/ConnectWise configuration as Portal agreement)
        explode: true
        in: query
        name: foreignType
        required: false
        schema:
          items:
            enum:
            - AT
            - CW
            - CWC
            type: string
          type: array
        style: form
      - description: Order the result set by a field or fields. Add a "-" to the value
          sort in descending order. Multiple values are given priority in the order
          in which they are passed.
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          items:
            enum:
            - id
            - name
            - modified
            - -id
            - -name
            - -modified
            type: string
          type: array
        style: form
      - description: Limit the result set to the specified number of resources.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Skip the specified number of resources in the result set.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Must be specified if using a custom encryption key to encrypt
          data (found in login form).
        explode: true
        in: query
        name: keyValue
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/DeviceDataWrapper"
          description: Success response
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
      summary: Fetches lists of devices
      tags:
      - Devices
    post:
      description: New device will be added to the portal
      operationId: createDevice
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Device"
        description: Device object that needs to be added to the portal
        required: true
      responses:
        "201":
          description: Created (Location header with a link to the newly-created resource)
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
      summary: Adds a new device to the portal
      tags:
      - Devices
  /api/2.0/devices/{deviceId}/:
    delete:
      description: ""
      operationId: deleteDeviceById
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: A single device id.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
        "404":
          description: Device not found
      summary: Deletes a device
      tags:
      - Devices
    get:
      description: This method fetches a single device resource. It is the canonical
        URI for any device resource provided by the API.
      operationId: getDeviceById
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: A single device id.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/DeviceDataWrapper"
          description: Success response
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
        "404":
          description: Device not found.
      summary: Fetches a single device by id
      tags:
      - Devices
    patch:
      description: Updates specific fields on an entity (RFC 7396)
      operationId: updateDeviceById
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: A single device id.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/DevicePatch"
        description: Device fields that need to be updated to the portal
        required: true
      responses:
        "204":
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RequestError"
          description: Bad Request
        "404":
          description: Device not found.
      summary: Updates a single device by id
      tags:
      - Devices
  /api/2.0/devices/{deviceId}/managementUrls/:
    get:
      description: This method fetches a single device Management Urls resource.
      operationId: getMUrlsByDeviceId
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          default: 2215385D614E6873447B60536C655873605063755969002C4ED6D881DC29236858B3ADD9AC42360D06E41C8DD745DFE24BD26162DB02A32F549C2D7FD852CEE75AD01A12
          type: string
        style: simple
      - description: A single device id.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Return only items matching specified Management Url ID.
        explode: true
        in: query
        name: murlId
        required: false
        schema:
          type: integer
        style: form
      - description: Limit the result set to the specified number of resources.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Skip the specified number of resources in the result set.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
[...]
